extends ../../_includes/_layout.pug

append variables
  //- Required
  - var pageID = "hub/it_conference_2022";
  - var pageTitle = "【2022年版】エンジニア必見 大規模ITイベントまとめ";
  - var pageDescription = "2022年のテック関連のカンファレンスやサミットなど大規模なイベントをまとめました。カンファレンスなどの大規模なイベントでは最新の情報や、有力な登壇者の話を聞くことができるため、独学でテキストを読みこむだけでは得られない知識や刺激を得ることができます。この記事を参考にぜひ参加を検討してみてください。";
  //- Optional
  - var pageOgpImage = site.ogpImage
  - var pageOgpType = "article";

block styles
  link(rel="stylesheet" type="text/css" href="../../../css/pages/detail_hub.min.css")

block content
  section.keyvisual
    p
      span.key_title_main ANTI-PATTERN 
        |
        span.sp_br HUB 
      |
      span.key_title_sub アンチパターン情報ポータルサイト
  .hub_container
    .hub_case
      .d-flex.align-items-center.justify-content-between.mb-3
        time.day(datetime="2022-03-24") 2022.03.24
        .hub_tags
          a(href="/hub/stories").hub_tag_item #stories
          a(href="/hub/posse").hub_tag_item.ml-2 #posse 
      h1.hub_title 【2022年版】エンジニア必見 大規模ITイベントまとめ
      include ../../_includes/_share_on.pug
      .hub_section
        img(src="/img/hub/it-conference-2022_01.jpg", alt="ITイベントのスピーカーのイメージ画像").mb-5
        p エンジニアは日々、新たな技術や知識をキャッチアップしていく必要があります。学ぶ場は様々ですが、カンファレンスなどの大規模なイベントでは最新の情報や、著名な登壇者の話を聞くことができるため、独学でテキストを読みこむだけでは得られない知識や刺激を得ることができます。そこで今回は2022年のテック関連のカンファレンスやサミットなど大規模なイベントをまとめました。
      .hub_section 
        h2.mb-3 2022年ITイベント
        p.mb-5 2022年3月時の情報です。最新情報は各イベント公式HP等をご覧ください
        div.mb-5
          h3.mb-3 Yahoo! JAPAN Tech Conference 2022
          .table-responsive
            table.table.table-bordered
              tbody 
                tr 
                  th(scope='row').align-middle.px-4.py-3.bg-light 開催日
                  td(colspan="3").align-middle.px-4.py-3 2月3日〜2月4日
                tr 
                  th(scope='row').align-middle.px-4.py-3.bg-light 開催形態
                  td(colspan="3").align-middle.px-4.py-3 オンライン
                tr 
                  th(scope='row').align-middle.px-4.py-3.bg-light URL
                  td(colspan="3").align-middle.px-4.py-3 https://techconference.yahoo.co.jp/2022/
                tr
                  th(scope='row').align-middle.px-4.py-3.bg-light ハッシュタグ
                  td(colspan="1").align-middle.px-4.py-3 #yjtc
                  th(scope='row').align-middle.px-4.py-3.bg-light 主催
                  td(colspan="1").align-middle.px-4.py-3 Yahoo Japan
          p 日本、アジアから世界をリードするAIテックカンパニーとして、ヤフーがどのような世界を目指し、技術的な取り組みを行っているのか紹介するカンファレンスです。
      include ../../_includes/_share_on.pug
      .hub_tags.text-right
        a(href="/hub/stories").hub_tag_item #stories
        a(href="/hub/posse").hub_tag_item.ml-2 #posse 
