extends ../../_includes/_layout.pug

append variables
  //- Required
  - var pageID = "hub/tech-conference-2022";
  - var pageTitle = "【2022年版】エンジニア必見 大規模ITイベントまとめ";
  - var pageDescription = "2022年のテック関連のカンファレンスやサミットなど大規模なイベントをまとめました。カンファレンスなどの大規模なイベントでは最新の情報や、有力な登壇者の話を聞くことができるため、独学でテキストを読みこむだけでは得られない知識や刺激を得ることができます。この記事を参考にぜひ参加を検討してみてください。";
  //- Optional
  - var pageOgpImage = site.rootUrl + "img/hub/tech-conference-2022-og-image.jpg"
  - var pageOgpType = "article";

block styles
  link(rel="stylesheet" type="text/css" href="../../../css/pages/detail_hub.min.css")

block content
  section.keyvisual
    p
      span.key_title_main ANTI-PATTERN 
        |
        span.sp_br HUB 
      |
      span.key_title_sub アンチパターン情報ポータルサイト
  .hub_container
    .hub_case
      .d-flex.align-items-center.justify-content-between.mb-3
        time.day(datetime="2022-03-24") 2022.03.24
        .hub_tags
          a(href="/hub/columns").hub_tag_item #columns
      h1.hub_title 【2022年版】エンジニア必見 大規模ITイベントまとめ
      include ../../_includes/_share_on.pug
      .hub_section
        img(src="/img/hub/tech-conference-2022_01.jpg", alt="ITイベントのスピーカーのイメージ画像").mb-5
        p エンジニアは日々、新たな技術や知識をキャッチアップしていく必要があります。学ぶ場は様々ですが、カンファレンスなどの大規模なイベントでは最新の情報や、著名な登壇者の話を聞くことができるため、独学でテキストを読みこむだけでは得られない知識や刺激を得ることができます。そこで今回は2022年のテック関連のカンファレンスやサミットなど大規模なイベントをまとめました。
      .hub_section 
        h2.mb-3 2022年ITイベント
        p.mb-5 2022年3月時点の情報です(※8月にカンファレンス情報を追加しました)。最新情報は各イベント公式HP等をご覧ください。

        - var conferenceName = 'Yahoo! JAPAN Tech Conference 2022'
        - var conferenceDate = '2月3日〜2月4日'
        - var conferenceType = 'オンライン'
        - var conferenceUrl = 'https://techconference.yahoo.co.jp/2022/'
        - var conferenceHashtag = 'yjtc'
        - var conferenceOrganizer = 'Yahoo Japan'
        - var conferenceDescription = '日本、アジアから世界をリードするAIテックカンパニーとして、ヤフーがどのような世界を目指し、技術的な取り組みを行っているのか紹介するカンファレンスです。'
        include ../../_includes/_tech_conference_table.pug

        - var conferenceName = 'RAKUS Tech Conference 2022'
        - var conferenceDate = '2月8日'
        - var conferenceType = 'オンライン'
        - var conferenceUrl = 'https://contents.rakus.co.jp/tech-conference2022/'
        - var conferenceHashtag = ''
        - var conferenceOrganizer = '株式会社ラクス'
        - var conferenceDescription = '株式会社ラクスが初めて開催するオンラインテックカンファレンスです。'
        include ../../_includes/_tech_conference_table.pug

        - var conferenceName = 'Developers Summit 2022'
        - var conferenceDate = '2月17日〜2月18日'
        - var conferenceType = 'オンライン'
        - var conferenceUrl = 'https://event.shoeisha.jp/devsumi/20220217'
        - var conferenceHashtag = 'devsumi'
        - var conferenceOrganizer = '株式会社翔泳社 CodeZine編集部'
        - var conferenceDescription = 'Developers Summit（デベロッパーズサミット：デブサミ）は、2003年から毎年開催する、日本最大級のソフトウェア開発者のためのカンファレンスです。'
        include ../../_includes/_tech_conference_table.pug

        - var conferenceName = 'Open Source Conference 2022 Online Spring'
        - var conferenceDate = '3月11日〜3月12日'
        - var conferenceType = 'オンライン'
        - var conferenceUrl = 'https://event.ospn.jp/osc2022-online-spring/'
        - var conferenceHashtag = 'osc22on'
        - var conferenceOrganizer = '株式会社びぎねっと'
        - var conferenceDescription = 'オープンソースのコミュニティや協賛企業、後援団体による、オープンソース関連のセミナーやミーティング、独自企画が楽しめるカンファレンスです。'
        include ../../_includes/_tech_conference_table.pug

        - var conferenceName = 'YAPC::Japan::Online 2022'
        - var conferenceDate = '3月4日〜3月5日'
        - var conferenceType = 'オンライン'
        - var conferenceUrl = 'https://yapcjapan.org/2022online/'
        - var conferenceHashtag = 'yapcjapan'
        - var conferenceOrganizer = '一般社団法人Japan Perl Association (JPA)'
        - var conferenceDescription = 'YAPCはYet Another Perl Conferenceの略で、Perlを軸としたITに関わる全ての人のためのカンファレンスです。 Perlだけにとどまらない技術者たちが、好きな技術の話をし交流するカンファレンスで、技術者であれば誰でも楽しめるお祭りです。'
        include ../../_includes/_tech_conference_table.pug

        - var conferenceName = 'Security Days Spring 2022'
        - var conferenceDate = '3月9日〜3月11日, 3月15日〜3月25日'
        - var conferenceType = 'ハイブリッド'
        - var conferenceUrl = 'https://f2ff.jp/secd/2022-spr/tokyo'
        - var conferenceHashtag = 'SecurityDays'
        - var conferenceOrganizer = '株式会社ナノオプト・メディア'
        - var conferenceDescription = '株式会社ナノオプト・メディアが開催する講演セッション中心のセキュリティカンファレンスです。'
        include ../../_includes/_tech_conference_table.pug

        - var conferenceName = 'DeNA TechCon 2022'
        - var conferenceDate = '3月17日'
        - var conferenceType = 'オンライン'
        - var conferenceUrl = 'https://techcon2022.dena.dev/spring/'
        - var conferenceHashtag = ''
        - var conferenceOrganizer = 'DeNA Co., Ltd.'
        - var conferenceDescription = '「Unlimited Expansion」をテーマにしたDeNA主催のカンファレンスです。'
        include ../../_includes/_tech_conference_table.pug

        - var conferenceName = 'ScalaMatsuri 2022'
        - var conferenceDate = '3月19日〜3月20日'
        - var conferenceType = 'オンライン'
        - var conferenceUrl = 'https://scalamatsuri.org/ja/'
        - var conferenceHashtag = ''
        - var conferenceOrganizer = '一般社団法人 Japan Scala Association'
        - var conferenceDescription = 'アジア最大級の国際Scalaカンファレンスです。'
        include ../../_includes/_tech_conference_table.pug

        - var conferenceName = '技育祭 2022 春'
        - var conferenceDate = '3月17日〜3月19日'
        - var conferenceType = 'オンライン'
        - var conferenceUrl = 'https://talent.supporterz.jp/geeksai/2022spring/'
        - var conferenceHashtag = '技育祭'
        - var conferenceOrganizer = '株式会社サポーターズ'
        - var conferenceDescription = '技育祭は「技術者を育てる」ことを目的としたエンジニアを目指す学生のための日本最大のオンラインカンファレンスです。'
        include ../../_includes/_tech_conference_table.pug

        - var conferenceName = 'JaSST\'22 Tokyo'
        - var conferenceDate = '3月10日〜3月11日'
        - var conferenceType = 'オンライン'
        - var conferenceUrl = 'http://www.jasst.jp/symposium/jasst22tokyo.html'
        - var conferenceHashtag = 'jassttokyo'
        - var conferenceOrganizer = 'ソフトウェアテスト技術振興協会（ASTER）'
        - var conferenceDescription = '技術とは日進月歩であるべきであり、進化した技術や知識は広く共有されるべきだという考え方に基づき、ソフトウェア業界全体のテスト技術力の向上と普及を目指して、NPO法人ソフトウェアテスト技術振興協会（ASTER）が開催しています。'
        include ../../_includes/_tech_conference_table.pug

        - var conferenceName = 'Observability Conference 2022 by CloudNative Days'
        - var conferenceDate = '3月11日'
        - var conferenceType = 'オンライン'
        - var conferenceUrl = 'https://event.cloudnativedays.jp/o11y2022'
        - var conferenceHashtag = ''
        - var conferenceOrganizer = 'Observability Conference 2022 Committee'
        - var conferenceDescription = 'Observability Conference(O11yCon)は、オブザーバビリティ(可観測性)に特化したテックカンファレンスです。'
        include ../../_includes/_tech_conference_table.pug

        - var conferenceName = 'CyberAgent Developer Conference 2022'
        - var conferenceDate = '3月24日'
        - var conferenceType = 'オンライン'
        - var conferenceUrl = 'https://cadc.cyberagent.co.jp/2022/'
        - var conferenceHashtag = ''
        - var conferenceOrganizer = '株式会社サイバーエージェント'
        - var conferenceDescription = 'サイバーエージェントがおくる技術と未来のカンファレンスです。'
        include ../../_includes/_tech_conference_table.pug

        - var conferenceName = 'とらのあなラボ Tech Conference vol.2'
        - var conferenceDate = '3月25日'
        - var conferenceType = 'オンライン'
        - var conferenceUrl = 'https://yumenosora.connpass.com/event/241175/'
        - var conferenceHashtag = ''
        - var conferenceOrganizer = '虎の穴ラボ株式会社'
        - var conferenceDescription = '「オタク × IT」をテーマにした大規模技術カンファレンスです。'
        include ../../_includes/_tech_conference_table.pug

        - var conferenceName = 'AWS CDK Conference Japan'
        - var conferenceDate = '4月9日'
        - var conferenceType = 'オンライン'
        - var conferenceUrl = 'https://jawsug.connpass.com/event/240422/'
        - var conferenceHashtag = 'jawsug #cdkconf'
        - var conferenceOrganizer = 'JAWS-UG東京 JAWS-UG横浜'
        - var conferenceDescription = 'AWS CDK Conference Japan は AWS CDK ユーザーが集まって事例やノウハウを共有しあうイベントです。'
        include ../../_includes/_tech_conference_table.pug

        - var conferenceName = 'Go Conference 2022 Spring (Online)'
        - var conferenceDate = '4月23日'
        - var conferenceType = 'オンライン'
        - var conferenceUrl = 'https://gocon.jp/2022spring/'
        - var conferenceHashtag = 'GOCON'
        - var conferenceOrganizer = 'Gophers Japan'
        - var conferenceDescription = '年2回開催されるプログラミング言語Goのカンファレンスです。'
        include ../../_includes/_tech_conference_table.pug

        - var conferenceName = 'PHPerKaigi 2022'
        - var conferenceDate = '4月9日〜4月11日'
        - var conferenceType = 'ハイブリッド'
        - var conferenceUrl = 'https://phperkaigi.jp/2022/'
        - var conferenceHashtag = 'phperkaigi'
        - var conferenceOrganizer = 'PHPerKaigi 2022 実行委員会'
        - var conferenceDescription = 'PHPerKaigi（ペチパーカイギ）は、現在PHPを使用している、過去にPHPを使用していた、これからPHPを使いたいと思っているエンジニアが、技術的なノウハウを共有するためのイベントです。'
        include ../../_includes/_tech_conference_table.pug

        - var conferenceName = 'DevOpsDays Tokyo 2022'
        - var conferenceDate = '4月21日〜4月22日'
        - var conferenceType = 'オンライン'
        - var conferenceUrl = 'https://www.devopsdaystokyo.org/'
        - var conferenceHashtag = 'DevOpsDaysTokyo'
        - var conferenceOrganizer = 'DevOpsDays Tokyo 実行委員会'
        - var conferenceDescription = 'DevOpsDays は世界中で開催されているカンファレンスです。ソフトウェア開発、ITインフラ運用、そしてその境界線上にあるトピックをカバーし、特にDevOpsを実現するための自動化、テスト、セキュリティ、組織文化にフォーカスしています。'
        include ../../_includes/_tech_conference_table.pug

        - var conferenceName = 'Day One - CTO/VPoE Conference 2022 Spring -'
        - var conferenceDate = '4月8日'
        - var conferenceType = 'オンライン'
        - var conferenceUrl = 'https://day-one-2022-spring.cto-a.org/'
        - var conferenceHashtag = ''
        - var conferenceOrganizer = '一般社団法人 日本CTO協会'
        - var conferenceDescription = '一般社団法人 日本CTO協会によるカンファレンス。「テクノロジーによる変化を味方につける1日」をテーマに様々なスピーカーが登壇します。'
        include ../../_includes/_tech_conference_table.pug

        - var conferenceName = 'Tech Update 2022'
        - var conferenceDate = '4月12日~4月13日'
        - var conferenceType = 'オンライン'
        - var conferenceUrl = 'https://ecdw2021.connpass.com/event/243072/'
        - var conferenceHashtag = ''
        - var conferenceOrganizer = '株式会社メルカリ / エンジニアtype'
        - var conferenceDescription = 'メルカリグループとエンジニアtypeの共催で、組織経営、カルチャー醸成、UX、そしてフィンテックなどさまざまなテーマで議論を展開します。'
        include ../../_includes/_tech_conference_table.pug

        - var conferenceName = 'React Global Online Summit 2022'
        - var conferenceDate = '4月21日〜4月22日'
        - var conferenceType = 'オンライン'
        - var conferenceUrl = 'https://events.geekle.us/react22/'
        - var conferenceHashtag = ''
        - var conferenceOrganizer = 'Geekle Corp.'
        - var conferenceDescription = ''
        include ../../_includes/_tech_conference_table.pug

        - var conferenceName = 'HoloLab Conference 2022 #HoloConf22'
        - var conferenceDate = '4月28日'
        - var conferenceType = 'オンライン'
        - var conferenceUrl = 'https://hololab.connpass.com/event/241174/'
        - var conferenceHashtag = 'HoloConf22'
        - var conferenceOrganizer = '株式会社ホロラボ'
        - var conferenceDescription = '株式会社ホロラボが各社と取り組みを進めてきた実用に向けた取り組みや、今後メタバースの基盤技術となっていくBIM/CADやCGといった空間情報技術活用に向けた取り組みの事例共有の場です。'
        include ../../_includes/_tech_conference_table.pug

        - var conferenceName = 'SRE NEXT 2022 ONLINE'
        - var conferenceDate = '5月14日〜5月15日'
        - var conferenceType = 'オンライン'
        - var conferenceUrl = 'https://sre-next.dev/2022/'
        - var conferenceHashtag = 'srenext '
        - var conferenceOrganizer = 'SRE Lounge'
        - var conferenceDescription = 'SRE NEXT 2022 ONLINEは、信頼性に関するプラクティスに深い関心を持つエンジニアのためのカンファレンスです。SRE NEXT 2022は「SRE DIVERSITY」をテーマとして掲げています。'
        include ../../_includes/_tech_conference_table.pug

        - var conferenceName = 'Nota Tech Conf '
        - var conferenceDate = '5月17日〜5月19日'
        - var conferenceType = 'オンライン'
        - var conferenceUrl = 'https://techconf.notainc.com/2022spring'
        - var conferenceHashtag = ''
        - var conferenceOrganizer = 'Nota株式会社'
        - var conferenceDescription = 'Nota社が提供するプロダクトの技術領域での取り組みをお伝えするカンファレンスです。'
        include ../../_includes/_tech_conference_table.pug

        - var conferenceName = 'Microsoft Build 2022'
        - var conferenceDate = '5月24日〜5月26日'
        - var conferenceType = 'オンライン'
        - var conferenceUrl = 'https://news.microsoft.com/build2022/'
        - var conferenceHashtag = ''
        - var conferenceOrganizer = 'Microsoft Corporation'
        - var conferenceDescription = 'Microsoft社が主催する開発者向けイベント。'
        include ../../_includes/_tech_conference_table.pug

        - var conferenceName = 'AWS Summit Online'
        - var conferenceDate = '5月25日〜5月26日'
        - var conferenceType = 'オンライン'
        - var conferenceUrl = 'https://aws.amazon.com/jp/summits/japan/'
        - var conferenceHashtag = ''
        - var conferenceOrganizer = 'Amazon Web Services, Inc.'
        - var conferenceDescription = '日本最大の AWS に関するイベントです。'
        include ../../_includes/_tech_conference_table.pug

        - var conferenceName = 'JJUG CCC 2022 Spring'
        - var conferenceDate = '6月19日'
        - var conferenceType = 'オンライン'
        - var conferenceUrl = 'https://fortee.jp/jjug-ccc-2022-spring'
        - var conferenceHashtag = 'jjug_ccc'
        - var conferenceOrganizer = '日本Javaユーザグループ (JJUG)'
        - var conferenceDescription = 'JJUG CCCは毎年2回、春と秋に開催する日本最大のJavaコミュニティイベントです。Java関連の技術や事例に関する良質なセッションが行われ、また異なる分野で活躍するJava技術者が集まる場ともなっているようです。'
        include ../../_includes/_tech_conference_table.pug

        - var conferenceName = 'Agile Tech EXPO 2022'
        - var conferenceDate = '7月9日'
        - var conferenceType = 'オンライン'
        - var conferenceUrl = 'https://2022.agiletechexpo.com/'
        - var conferenceHashtag = ''
        - var conferenceOrganizer = '一般社団法人 Agile Japan EXPO'
        - var conferenceDescription = 'Agile Tech EXPO(あじゃてく) は、社会をちょっと良くするテクノロジーを学び、ちょっと先の未来の話をする無料オンラインコミュニティです。'
        include ../../_includes/_tech_conference_table.pug

        - var conferenceName = 'Cloud Operator Days Tokyo 2022'
        - var conferenceDate = '7月27日'
        - var conferenceType = 'オンライン'
        - var conferenceUrl = 'https://cloudopsdays.com/'
        - var conferenceHashtag = ''
        - var conferenceOrganizer = 'Cloud Operator Days Tokyo 2022 運営事務局'
        - var conferenceDescription = 'クラウドの運用者に焦点を当てた技術者向けのテックイベントです。'
        include ../../_includes/_tech_conference_table.pug

        - var conferenceName = 'CloudNative Security Conference 2022 by CloudNative Days'
        - var conferenceDate = '8月5日'
        - var conferenceType = 'オンライン'
        - var conferenceUrl = 'https://event.cloudnativedays.jp/cnsec2022'
        - var conferenceHashtag = ''
        - var conferenceOrganizer = 'CloudNative Security Conference 2022 Committee'
        - var conferenceDescription = 'CloudNative Security Conference 2022 by CloudNative Days (CNSec2022) は、クラウドネイティブセキュリティに特化したテックカンファレンスです。'
        include ../../_includes/_tech_conference_table.pug

        - var conferenceName = 'AWS Startup Community Conference 2022'
        - var conferenceDate = '8月26日'
        - var conferenceType = 'オンライン'
        - var conferenceUrl = 'https://aws-startup-community.connpass.com/event/247548/'
        - var conferenceHashtag = 'AWSStartup'
        - var conferenceOrganizer = 'AWS Startup Community'
        - var conferenceDescription = 'AWS Startup Communityが主催する、年に1度の祭典で、日本中のAWSを利用するStartupが、AWSの知見を披露するHubとなるイベントです。'
        include ../../_includes/_tech_conference_table.pug

        - var conferenceName = 'Scrum Fest Sendai 2022'
        - var conferenceDate = '8月26日〜8月27日'
        - var conferenceType = 'ハイブリッド'
        - var conferenceUrl = 'https://www.scrumfestsendai.org/'
        - var conferenceHashtag = ''
        - var conferenceOrganizer = 'Scrum Fest Sendai 実行委員会'
        - var conferenceDescription = 'スクラムフェス仙台はアジャイルコミュニティの祭典です。'
        include ../../_includes/_tech_conference_table.pug

        - var conferenceName = 'ISUCON12'
        - var conferenceDate = '8月27日(※オンライン本選日程)'
        - var conferenceType = 'オンライン'
        - var conferenceUrl = 'https://isucon.net/archives/56566155.html'
        - var conferenceHashtag = 'isucon'
        - var conferenceOrganizer = 'ISUCON12 運営実行委員会'
        - var conferenceDescription = 'ISUCONとは「いい感じにスピードアップコンテスト」の略称で、毎回異なるお題(Webサービス)を、決められた条件下で高速化を図るチューニングコンテストです。'
        include ../../_includes/_tech_conference_table.pug

        - var conferenceName = 'PHPカンファレンス沖縄2022'
        - var conferenceDate = '8月27日'
        - var conferenceType = 'オフライン'
        - var conferenceUrl = 'https://phpcon.okinawa.jp/'
        - var conferenceHashtag = 'phpcon_okinawa'
        - var conferenceOrganizer = 'PHPカンファレンス沖縄2022 運営スタッフ'
        - var conferenceDescription = '沖縄で開催されるPHPカンファレンスです。'
        include ../../_includes/_tech_conference_table.pug

        - var conferenceName = 'RubyKaigi 2022'
        - var conferenceDate = '9月8日〜9月10日'
        - var conferenceType = 'オフライン'
        - var conferenceUrl = 'https://rubykaigi.org/2022/'
        - var conferenceHashtag = 'rubykaigi'
        - var conferenceOrganizer = 'RubyKaigi 2022 Team'
        - var conferenceDescription = ''
        include ../../_includes/_tech_conference_table.pug

        - var conferenceName = 'PHP Conference Japan 2022'
        - var conferenceDate = '9月24日〜9月25日'
        - var conferenceType = '未定'
        - var conferenceUrl = 'https://phpcon.php.gr.jp/2022/'
        - var conferenceHashtag = ''
        - var conferenceOrganizer = '-'
        - var conferenceDescription = ''
        include ../../_includes/_tech_conference_table.pug

        - var conferenceName = 'International JavaScript Conference'
        - var conferenceDate = '9月26日〜9月29日'
        - var conferenceType = 'ハイブリッド'
        - var conferenceUrl = 'https://javascript-conference.com/new-york/'
        - var conferenceHashtag = 'iJScon'
        - var conferenceOrganizer = 'Software & Support Media Group'
        - var conferenceDescription = 'JavaScriptに関わるセッションが豊富な国際的イベントです。'
        include ../../_includes/_tech_conference_table.pug

        - var conferenceName = 'Google Cloud Next \'22'
        - var conferenceDate = '10月11日〜10月13日'
        - var conferenceType = 'オンライン'
        - var conferenceUrl = 'https://cloud.withgoogle.com/next'
        - var conferenceHashtag = ''
        - var conferenceOrganizer = 'Google'
        - var conferenceDescription = 'Google Cloudに関わるセッションが豊富なイベントです。'
        include ../../_includes/_tech_conference_table.pug

        - var conferenceName = 'DroidKaigi 2022'
        - var conferenceDate = '10月5日〜7日'
        - var conferenceType = 'ハイブリッド'
        - var conferenceUrl = 'https://droidkaigi.jp/2022/'
        - var conferenceHashtag = ''
        - var conferenceOrganizer = 'DroidKaigi Committee'
        - var conferenceDescription = 'DroidKaigiは、Android技術情報の共有とコミュニケーションを目的に開催する、エンジニアが主役のAndroidカンファレンスです。'
        include ../../_includes/_tech_conference_table.pug

        - var conferenceName = 'Go Conference mini 2022 Autumn IN SENDAI'
        - var conferenceDate = '10月15日'
        - var conferenceType = 'ハイブリッド'
        - var conferenceUrl = 'https://sendaigo.connpass.com/event/256463/'
        - var conferenceHashtag = 'gocon'
        - var conferenceOrganizer = 'Gophers Japan'
        - var conferenceDescription = 'Go Conferenceは、プログラミング言語Goに関するカンファレンスです。'
        include ../../_includes/_tech_conference_table.pug

        - var conferenceName = 'Vue Fes Japan Online 2022'
        - var conferenceDate = '10月16日'
        - var conferenceType = 'オンライン'
        - var conferenceUrl = 'https://vuefes.jp/2022/'
        - var conferenceHashtag = ''
        - var conferenceOrganizer = 'Vue.js Japan User Group'
        - var conferenceDescription = 'Vue Fes Japan は 2018 年に誕生した日本最大級の Vue.js カンファレンスです。'
        include ../../_includes/_tech_conference_table.pug

        - var conferenceName = 'JavaOne'
        - var conferenceDate = '10月16日〜10月20日(現地時間)'
        - var conferenceType = 'オンライン'
        - var conferenceUrl = 'https://www.oracle.com/cloudworld/javaone/'
        - var conferenceHashtag = ''
        - var conferenceOrganizer = 'Oracle Corporation'
        - var conferenceDescription = 'Javaをメインテーマにした国際的なカンファレンスです。ラスベガスで行われるOracle CloudWorldにおいて併せて開催されるとのことです。'
        include ../../_includes/_tech_conference_table.pug

        - var conferenceName = 'DjangoCongress JP 2022'
        - var conferenceDate = '11月12日'
        - var conferenceType = 'オフライン'
        - var conferenceUrl = 'https://djangocongress.jp/'
        - var conferenceHashtag = 'djangocongress'
        - var conferenceOrganizer = '-'
        - var conferenceDescription = 'DjangoCongress JPは日本で開催されるDjango Webフレームワークのカンファレンスです。DjangoCongress JPは、Djangoでアプリケーションを開発している人、Djangoを学んでいる人などDjangoに関わる全ての人が参加でき、参加する全ての人がDjangoについて交流し、出会い、学び、楽しみ、深い理解を得ることを目的にしている、とのこと。'
        include ../../_includes/_tech_conference_table.pug

        - var conferenceName = 'Agile Japan 2022'
        - var conferenceDate = '11月15日〜11月16日'
        - var conferenceType = 'オンライン'
        - var conferenceUrl = '未定'
        - var conferenceHashtag = 'AgileJapan'
        - var conferenceOrganizer = 'Agile Japan 実行委員会'
        - var conferenceDescription = '日本中にアジャイルの価値を浸透させ、日本の変革を促進することを目指したイベントで、今年のテーマは「Social Impact Agile」です。'
        include ../../_includes/_tech_conference_table.pug

        - var conferenceName = 'AWS re:Invent 2022'
        - var conferenceDate = '11月28日〜12月2日'
        - var conferenceType = 'ハイブリッド'
        - var conferenceUrl = 'https://reinvent.awsevents.com/'
        - var conferenceHashtag = 'reInvent'
        - var conferenceOrganizer = 'Amazon Web Services, Inc.'
        - var conferenceDescription = 'AWSが主催するカンファレンス。基調講演、トレーニング、認定資格取得、1,500以上のテクニカルセッション、パートナーエキスポ、アフターアワーイベントなど、様々なイベントが開催されます。'
        include ../../_includes/_tech_conference_table.pug

        - var conferenceName = 'PyCon JP 2022'
        - var conferenceDate = '秋頃予定'
        - var conferenceType = '未定'
        - var conferenceUrl = 'https://www.pycon.jp/'
        - var conferenceHashtag = 'pyconjp'
        - var conferenceOrganizer = '一般社団法人PyCon JP Association'
        - var conferenceDescription = ''
        include ../../_includes/_tech_conference_table.pug

      .hub_section 
        h2.mb-3 まとめ
        p.mb-3 大規模イベントはカンファレンスやサミット、ミーティング、フェス、エキスポなど様々な呼び名がありますが基本的にその意味するところは同じです。オンラインでも参加できるイベントが多数あるので、参加してみると良いでしょう。
        p.mb-5 株式会社アンチパターンも代表を含めコアメンバーが積極的にイベントに登壇し、発信するように勤めています。「ソフトウェアエンジニアを憧れの職業へ」というミッションの元、我々自身も常に学び続けるソフトウェアエンジニアであることを大事にしています。

        p ＜アンチパターン登壇実績＞
        div.mb-5
          p 2020.10.21 AWS Dev Day Online Japan 2020
          a(href="https://speakerdeck.com/oztick139/learning-from-anti-patterns-the-synergy-of-cloud-applications-and-agile-development" target="_blank").text-info アンチパターンから学ぶクラウドアプリケーションとアジャイル開発の相乗効果

        div.mb-5
          p 2020.10.21 AWS Dev Day Online Japan 2020
          a(href="https://speakerdeck.com/tsukamototakeshi/multi-tenant-data-reconstruction" target="_blank").text-info マルチテナントデータの再構築 (Amazon RDS for PostgreSQL)	

        div.mb-5
          p 2021-09-28 AWS DevDay Online Japan 2021
          a(href="https://speakerdeck.com/oztick139/knowledge-of-web-application-development-using-aws-with-distributed-teams" target="_blank").text-info 分散型チームによるAWSを活用したWebアプリケーション開発のナレッジ

          div.iframe-wrapper.mt-4
            <iframe src="https://www.youtube.com/embed/b6BpEwP2Pr4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        div.mb-5
          p 2021-09-28 AWS DevDay Online Japan 2021
          a(href="https://speakerdeck.com/yaggy/aws-proton-woshi-tute-moratute-kuai-shi-nakai-fa-huan-jing-woageyou-moraou" target="_blank").text-info AWS Proton を使って(もらって)快適な開発環境をあげよう(もらおう)！

          div.iframe-wrapper.mt-4
            <iframe src="https://www.youtube.com/embed/7qL36xTCRYw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        div.mb-5
          p Regional Scrum Gathering Tokyo 2022
          a(href="https://speakerdeck.com/oztick139/restart-of-scrum" target="_blank").text-info re:スクラムはじめました	

        div.mb-5
          p Day One - CTO/VPoE Conference 2022 Spring
          a(href="https://day-one-2022-spring.cto-a.org/program/session-c/session-1" target="_blank").text-info 日本のソフトウェアエンジニアを憧れの職業へ	

        p.mb-4 今後もイベント登壇を始め、様々な形でナレッジや情報の発信を行っていく予定ですので、ご支援のほどよろしくお願いします。

        p また、弊社ではテックブログをアウトプットの場として活用しています。
        p 在籍するエンジニアが定期的にテーマを定め自由に執筆しています。
        p ぜひご覧ください。

        a(href="https://tech.anti-pattern.co.jp/" target="_blank").text-info Anti-Pattern Inc. Engineering Blog


      include ../../_includes/_share_on.pug
      .hub_tags.text-right
        a(href="/hub/columns").hub_tag_item #columns
