extends ../../_includes/_layout.pug

append variables
  //- Required
  - var pageID = "news/commitment-shift-hiring-starting-on-the-side-job";
  - var pageTitle = "【イベント情報】5/24開催 エンジニア採用担当者必見 副業から正社員へ！コミットメントシフト採用とは【募集中】";
  - var pageDescription = "株式会社アンチパターンは、LAPRAS社、YOUTRUST社と共に「副業から正社員へ！コミットメントシフト採用」をテーマにエンジニア採用担当者向けのイベント開催します。";
  //- Optional
  - var pageOgpImage = "https://anti-pattern.co.jp/img/commitment-shift-hiring-starting-on-the-side-job.jpg";
  - var pageOgpType = "article";

block styles
  link(rel="stylesheet" type="text/css" href="../../../css/pages/detail_news.min.css")

block content
  section.keyvisual
    p
      span.key_title_main NEWS
      |
      span.key_title_sub お知らせ
  .news_content_container
    .news_content_case
      .day
        time(datetime="2022-05-13") 2022.05.13
      h3.news_title 【イベント情報】5/24開催 エンジニア採用担当者必見 副業から正社員へ！コミットメントシフト採用とは【募集中】
      include ../../_includes/_share_on.pug
      img(src="/img/commitment-shift-hiring-starting-on-the-side-job.jpg", alt="シードラウンド調達の画像")
      .news_content_section
        h4 ■ 開催時間
        p.mb-5 2022年5月24日(火) 12:00 - 13:00
        h4 ■参加費
        p.mb-5 無料
        h4 ■参加方法
        p Zoomを利用してオンライン開催いたします。
      .news_content_section
        h4 ■イベントの背景と目的
        p 本イベントは、株式会社アンチパターンと株式会社YOUTRUST、株式会社LAPRASのコラボイベントです。
        br
        p ソフトウェアエンジニアの求人倍率は依然高く、各社採用に苦労されている市場環境かと思います。そんな中、副業メンバーの活用に着目し、新たなチームの形を模索する企業も出てきています。
        p それにより、副業から始めて雇用契約に切り替えるなど緩やかにコミットメントをシフトしていくようなキャリア形成も生まれています。
        p 今回、ソフトウェアエンジニア採用サービスを提供する各社が、市場の状況を踏まえながら、副業を絡めた新しい採用のあり方についてディスカッションさせていただきます。
        br
        p 副業ソフトウェアエンジニアって実際どうなの？そこから採用ってあり得るの？
        p 様々な疑問にみなさんと一緒に向き合っていければと思います。
      .news_content_section
        h4 ■こんな方におすすめです
        p ・副業を取り入れた組織づくりを検討しているマネージャー / 経営者
        p ・副業など多様な働き方に関心のあるソフトウェアエンジニア
      .news_content_section
        h4 ■タイムテーブル
        table 
          tr 
            td 12:00-12:05　
            td 趣旨説明
          tr 
            td 12:05-12:25　
            td 各社LT (5~10分程度)
          tr 
            td 12:25-12:55　
            td 3社合同のパネルディスカッション
          tr 
            td 12:55-13:00　
            td アンケート回収
      .news_content_section
        h4 ■登壇者情報
        h5 株式会社YOUTRUST CTO 佐々木 紀和
        p 東京大学大学院修了。2013年に株式会社ディー・エヌ・エーに入社。EC事業本部において新規事業の開発に携わる。2016年より子会社である株式会社ペロリに出向。2018年より株式会社MERYの開発部部長。
        p.mb-5 2021年7月にYOUTRUSTにジョインし、プロダクト組織開発に従事。
        h5 株式会社LAPRAS / 広報・PRマネージャー/ 大西　栄樹（おおにし　はるき）
        p 関西学院大学卒業後、2010年オムロン株式会社入社。法人営業を5年経験後、ブランドコミュニケーション（広報・PR）を担当。グローバルPR戦略の立案、国内外の展示会の企画運営、メディア対応など幅広いコミュニケーション業務を経験した後、マーケティングコミュニケーショングループ長としてBtoBブランディングやPRに従事。
        p 2021年8月よりLAPRASにジョイン。
        p.mb-5 現在は京都在住でリモートワーク、趣味はトレイルラン。PRで世の中の新しい常識作りにチャレンジしている。
        h5 株式会社アンチパターン 代表取締役 CEO 兼 VPoE 小笹佑京
        p 立教大学卒業後、2014年に (株)イノベーションに入社
        p イノベーションでは、マーケティングオートメーション ツール開発業務に従事
        p 2015年全社MVPを受賞 2017年よりマネジャー職 2018年より開発本部⻑歴任
        p 2019年7月株式会社アンチパターンを創業
      .news_content_section
        h4 ■このイベントに関するお申し込みは以下からお願いします。
        div. 
          <button data-tf-popup="lm064KYH" data-tf-iframe-props="title=【エンジニア採用担当者必見】 副業から正社員へ！コミットメントシフト採用とは" data-tf-medium="snippet" style="all:unset;font-family:Helvetica,Arial,sans-serif;display:inline-block;max-width:100%;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;background-color:#0445AF;color:#FFFFFF;font-size:20px;border-radius:25px;padding:0 33px;font-weight:bold;height:50px;cursor:pointer;line-height:50px;text-align:center;margin:0;text-decoration:none;">お申し込み</button><script src="//embed.typeform.com/next/embed.js"></script>
      include ../../_includes/_share_on.pug
