extends ../../_includes/_layout.pug

append variables
  //- Required
  - var pageID = "news/30daysbootcamp-on-harbors";
  - var pageTitle = "エンジニアコミュニティ「HarborS」で、東京フリーランスが「30DAYSブートキャンプ」を開催！";
  - var pageDescription = "「HarborS表参道」にて、東京フリーランス主催の「30DAYSブートキャンプ」が修了しました。今後もHarborSはエンジニアコミュニティと提携し、「日本のソフトウェアエンジニアを憧れの職業へ」のミッション実現に尽力します。";
  //- Optional
  - var pageOgpImage = "/img/news/30daysbootcamp.png";
  - var pageOgpType = "article";

block styles
  link(rel="stylesheet" type="text/css" href="../../../css/pages/detail_news.min.css")

block content
  section.keyvisual
    p
      span.key_title_main NEWS
      |
      span.key_title_sub お知らせ
  .news_content_container
    .news_content_case
      .day 2020.03.31
        time(datetime="2020-03-31") 2020.03.31
      h3.news_title エンジニアコミュニティ「HarborS」で、東京フリーランスが「30DAYSブートキャンプ」を開催！
      include ../../_includes/_share_on.pug
      img(src="/img/news/30daysbootcamp.png", alt="30DAYSブートキャンプの写真")
      .news_content_section
        h4 コワーキングスペース・コミュニティの提供を通じて、約20名のエンジニアの育成支援をサポート。
        p 株式会社アンチパターン（本社：東京都港区、代表取締役 小笹 佑京、以下当社）が運営する「HarborS表参道」にて、東京フリーランス主催の「30DAYSブートキャンプ」が修了しました。今後もHarborSはエンジニアコミュニティと提携し、「日本のソフトウェアエンジニアを憧れの職業へ」のミッション実現に尽力します。
      .news_content_section
        h4 1.30DAYSブートキャンプとは
        p 30DAYSブートキャンプとは、東京フリーランスが開発したプログラミング学習サービス「30DAYSトライアル」のオフライン版短期集中スクールです。30DAYSトライアルの実施ととともに、講義や個人面談を経て「はじめの一歩を踏み出す」ということをコンセプトにしています。
        br
        p 30DAYSトライアルとは、独学を前提としたプログラミングの学習プログラムのことで、「WEB制作で月5万円稼げるようになりたい」「プログラマーとして転職したい」「フリーランスエンジニアになりたい」などといったそれぞれの目標を達成して自走していく為のオンラインの学習ロードマップになっています。
        br
        p #デイトラの学習ログ用ハッシュタグは月間600万Viewを超えるほどの人気になり、2020年4月から日本初の「Twitter生まれのオンラインスクール」として公開が決まりました。
      .news_content_section
        img(src="/img/news/harbors-01.jpg", alt="HarborSの写真")
        h4 2.Harbors表参道について
        p 当社のミッション、「日本のソフトウェアエンジニアを憧れの職業へ」のMission実現を下支えするコミュニティであり、コワーキングスペース需要が高まる中、都内でも珍しいエンジニアに特化したコワーキングスペースとなっています。
        br
        p 東京フリーランスをはじめとしたパートナー様・企業様と連携し、日本全国のエンジニアのサポートとなるようなコミュニティを目指しています。
      .news_content_section
        img(src="/img/news/harbors-03.jpg", alt="HarborSの写真")
        h4 3.今回の開催について
        p 30DAYSブートキャンプは、第一期を北海道下川町で開催しました。そして今回、第二期の舞台を東京に移し、HarborS表参道にて実施いたしました。
        br
        p 東京フリーランスのCMOであるショーヘー氏が、HarborSとパートナーシップを結んでいることにより実現しました。
        br
        p 【プロフィール】
        p 24歳でプログラマーに転職した後、26歳で独立し、海外を拠点としたフリーランスに。現在は、東京フリーランスCMOとして、エンジニア育成支援に力をいれている。
        p  ※3月25日に開かれました小池都知事の緊急会見での外出自粛要請を受けて、当社と東京フリーランスは協議を行い、以降はオンライン開催となりました。
      .news_content_section
        h4 4.東京フリーランスからのコメント
        p 私たち東京フリーランスは、オンラインでプログラミングの学習カリキュラムや転職・独立のサポートを行っています。そんななか、「直接プログラミングやフリーランスのノウハウを教わりたい」という要望を以前から頂いていました。
        br 
        p しかしながら、私たちは大きなオフィスも、プログラミング教室に適した高速Wi-Fi・静かな環境も持っていません。
        p また、受講生のためにも「仕事帰りにも通えるような利便性のいい場所で開催したい」と思っていたところ、その全ての条件を満たしていたHarborS表参道での開催が実現しました。
        p 30日間、約20名で、13:00~19:00までのコワーキング利用＋最大20名ほど入れる会議室を平日20:00~22:00まで利用させていただきました。表参道徒歩3分と立地も良く、リーズナブルに利用することができ、エンジニア支援の厚さを実感しました。
        br
        p おかげで参加してくださった受講生からの評判も大変よく、大成功のイベントとなりました。第3回を開催するときは、またぜひ利用させていただきたいと思っています。
        p エンジニア向けのもくもく会やセミナー利用など検討されてる方にも、HarborSをオススメしたいです。
      .news_content_section.news_content_section02
        img(src="/img/news/30daysbootcamp-staffs.jpg", alt="集合写真")
        h4 5.HarborS表参道からのコメント
        p HarborSは、あらゆるエンジニアに利用して頂けるコミュニティスペースとなっております。
        p 東京フリーランスの、30DAYSブートキャンプでは、Web制作ができるようになるまでを支援。その過程で、さらに高度なWebサービス開発にも興味を持つ方もいらっしゃいました。
        br
        p 受講者の方には、今後も多くのエンジニアとの交流の場を提供していきます。30DAYSブートキャンプを起点に、継続的なエンジニアとしての学習を進めて頂きたいと考えており、全面的に支援をしていきます。
        p 今後も当社はエンジニアのための事業展開、サービス提供、コミュニティの充実を行っていきます。ミッションに賛同してくださるパートナー様・企業様がいらっしゃいましたら、下記までご連絡ください。
        p お問い合わせ：kenji.shinoda@anti-pattern.co.jp （HarborS事業責任者：信田健児）
      include ../../_includes/_share_on.pug
