extends ../../_includes/_layout.pug

append variables
  //- Required
  - var pageID = "news/release-posse";
  - var pageTitle = "大学生限定のプログラミング学習コミュニティ「POSSE」をスタート！";
  - var pageDescription = "POSSEは大学生に限定し、参加者同士の信頼関係を重視したこれまでにないプログラミング学習コミュニティです。プログラミング学習にとどまらず、人格形成の重要性を学ぶことを通して学生間の絆を結び、仲間と助け合いながら成長することを目的としています。";
  //- Optional
  - var pageOgpImage = "/img/news/release-posse-01.png";
  - var pageOgpType = "article";

block styles
  link(rel="stylesheet" type="text/css" href="../../../css/pages/detail_news.min.css")

block content
  section.keyvisual
    p
      span.key_title_main NEWS
      |
      span.key_title_sub お知らせ
  .news_content_container
    .news_content_case
      .day
        time(datetime="2020-07-28") 2020.07.28
      h3.news_title 株式会社アンチパターンが大学生限定のプログラミング学習コミュニティ「POSSE」をスタート！
      include ../../_includes/_share_on.pug
      img(src="/img/news/release-posse-01.png", alt="POSSEの写真")
      .news_content_section
        h4 1.POSSEとは
        p POSSEは大学生に限定し、参加者同士の信頼関係を重視したこれまでにないプログラミング学習コミュニティです。プログラミング学習にとどまらず、人格形成の重要性を学ぶことを通して学生間の絆を結び、仲間と助け合いながら成長することを目的としています。
      .news_content_section
        h4 2.POSSEメンバーについて
        p 発足したばかりのPOSSEですが、すでに15人のメンバーを迎えて1期生として活動しています。
        br
        img(src="/img/news/release-posse-02.jpg", alt="POSSEの写真")
        h5 ・大学１・２年生から学習をスタート
        p POSSEメンバーは大学1・２年生という早い段階でキャリアを考え、プログラミングを学ぶことを決めた学生たちです。学習意欲の高いメンバーが多く、無限大の可能性を秘めた若者たちが集まっています。就活のイベントなどは３・４年生を対象としたものが多いですが、POSSEでは長期的視点から、1年生時点で加入し、４年生まで学習を続けるサークルのようなモデル体系をとっています。
        h5 ・プログラミングスキルを獲得
        p プログラミングをHTML、CSS、JavaScriptから学び、将来的にはLaravel(PHP)までのスキルを身につける予定です。POSSEでは自立したエンジニアを排出することを目標に自走力をつけることに重きを置き、分からないところの調べ方・何を勉強するか・学習コンテンツの選び方などを習得できるように学習内容を設定しています。
        h5 ・他の活動にも精力的
        p POSSEでプログラミングの課題に励みながら国際系サークルやダンスサークルなどの活動も両立しています。起業や機械学習について個人的に勉強しているメンバーもおり、自発的に学びに取り組んでいるメンバーが多くみられます。他のメンバーも同輩が情熱を注いでいる姿勢に感化され、いい影響を与え合っています。
        h5 ・縦も横も強い絆をもったつながり（独自のコネクションがある）
        p 慶應・立教・上智大学などの様々な大学からのメンバーが集まっており、遊びや課題を乗り越えることを通じて仲を深めています。また、POSSEは生涯続くコミュニティになることを目標とし、社会人になってからも世代間の超えた繋がりのある関係を目指しています。現在、2期生を30人集めるために1期生が奮闘中！5年以内に5000人規模のコミュニティにする第１歩を踏み出そうとしています。
      .news_content_section
        h4 3.POSSEの活動内容
        h5 ・オンライン教材での学習
        p N予備校やドットインストールを教材とし、週に1つ課題をこなすという流れでプログラミングを学習しています。昨今ではプログラミング学習コンテンツが充実してきており、その中からPOSSEの学習スタイルに最適な教材を外部コンテンツとして利用しています。
        h5 ・週1回の先輩エンジニアからのフィードバック
        p 先輩エンジニアから課題に対するフィードバックを直接もらい、課題の改善に役立てています。オンライン教材での学習でインプットを行い、理解度を確認するための課題を通してアウトプットできる場を設けています。メンバーが質問する際はどのような思考回路で考えたのか、それに対して行った行動は何かなど、ただ分からないところを聞くだけでなく「質問力」をつける練習にもなっています。
        h5 ・読書会
        p 「7つの習慣」や「ワークシフト」といったビジネス書を読み、人格形成の重要性、自立と相互協力の大切さ、技術の専門性を高める必要性などを学んでいます。
        h5 ・講演会
        p 月1回のペースで、現役エンジニアの方から貴重なお話を聞かせていただくPOSSE講演会を行なっています。POSSEでは、1人でも多くのメンバーに「ITエンジニアって大変そうだけどすごくかっこいい仕事なんだ！」という憧れを持ってもらう機会になればという思いから、講演をお願いしています。また、プログラミングを大学１・２年生という早い段階から学べる有り難みを感じ、モチベーションアップに繋がったというPOSSEメンバーも多くいます。
        br
        p
          ul ■これまでの講演者の方々
            li 株式会社プレイド 大平和史さん
            li 株式会社アンチパターン 小笹佑京さん
            li 東京フリーランス ショーヘーさん
      .news_content_section
        img(src="/img/news/release-posse-03.png", alt="POSSEの写真")
        h5 ・月2回のリアルイベント
        p 生涯続くコミュニティであってほしいという思いから、メンバー同士の関係を大切にしています。月2回のペースでリアルイベントを開催し、たこ焼きパーティやバーベキューなどのイベントを行ないました。
        img(src="/img/news/release-posse-04.jpg", alt="POSSEの写真")
      .news_content_section.news_content_section02
        h4 4.お問い合わせ／共感・応援してくれる人を探しています
        p POSSEには、大学生時代に情熱を持って何かに取り組む学生にたくさん参加してもらっています。今後、彼らが日本の社会に出た際の活躍が楽しみでなりません。
        br
        p 「日本のソフトウェアエンジニアを憧れの職業へ」という弊社Visionや、POSSEの活動に共感して頂ける様々な方のサポートを募集しております。
        br
        h5 POSSEを応援してくれる方
        ul
          li ・講演会をしてくれる方
          li ・職場体験を提供してくれる方
          li ・ハッカソンに参加してくれる方
          li ・リアルイベント（遊びの場）を提供してくれる方
          li ・活動支援金を提供してくれるサポーターの方
          li ・POSSEの取り組みを取材してくれる方
          li ・メンターとして学生の活動を支援してくれる方
          li ・プログラミング学習中のPOSSEメンバーにお仕事を依頼してくれる方
        h5 POSSEメンバーを採用したいと思ってくれる方
        ul
          li ・23卒向けの採用に興味がある方
          li ・インターン生としての採用に興味がある方
          li ・2021年4月以降の第2新卒採用に興味がある方
        p みなさんのご協力が、ポテンシャルが高いPOSSEメンバーの活躍につながると考えております。たくさんのご支援をお待ちしております。
        br
        p 【POSSEに関するお問い合わせ】
        p 事業責任者 信田健児(しのだけんじ)
        p 03-6885-6140
        p kenji.shinoda@anti-pattern.co.jp
        br
        p.text-info ◆専用サイト：
         a(href="https://posse.anti-pattern.co.jp/" target="_blank") https://posse.anti-pattern.co.jp/
      include ../../_includes/_share_on.pug
