extends ../../_includes/_layout.pug

append variables
  //- Required
  - var pageID = "news/release-engineed-preview-ver";
  - var pageTitle = "AWSエンジニア向け実技試験型案件獲得サービスengineedのプレビュー版事前登録開始";
  - var pageDescription = "Amazon Web Services(以下AWS)認定資格保有エンジニアに向けて、実技試験型案件獲得サービスengineedの事前登録を開始いたしました。";
  //- Optional
  - var pageOgpImage = "/img/news/release-engineed-preview-ver.png";
  - var pageOgpType = "article";

block styles
  link(rel="stylesheet" type="text/css" href="../../../css/pages/detail_news.min.css")

block content
  section.keyvisual.top_keyvisual
    p
      span.key_title_main NEWS
      |
      span.key_title_sub お知らせ
  .news_content_container
    .news_content_case
      .day
        time(datetime="2020-06-04") 2020.06.04
      h3.news_title 株式会社アンチパターンがAWSエンジニア向け実技試験型案件獲得サービスengineedのプレビュー版事前登録開始
      include ../../_includes/_share_on.pug
      img(src="/img/news/release-engineed-preview-ver.png", alt="engineedプレビュー版の宣伝画像")
      .news_content_section
        h4 「日本のソフトウェアエンジニアを憧れの職業へ」を理念に掲げる株式会社アンチパターンが、Amazon Web Services(以下AWS)認定資格保有エンジニアに向けて、実技試験型案件獲得サービスengineedの事前登録を開始いたしました。
        p 日本では、2018年6月にクラウドサービスの利用を第一とする「クラウド・バイ・デフォルト」が各府省情報化統括責任者(CIO)連絡会議で公表されたことなどを背景にクラウド技術の活用が促進されています。その中でもAWSは市場でのシェア率が高く、様々な業界で活用が進んでいるため、AWSを活用できるエンジニア(AWSエンジニア)の需要は伸びています。しかし、AWSエンジニアは実力を証明することが難しく、資格/経歴情報を主な情報源としながら、企業との面談のなかで自己アピールをしたり、安価で実務に入り能力の証明をしてから交渉を進めたりするなど、自身の実力証明に多分にコストをかけざるを得ない状況でした。
        br
        p AWSエンジニア向け実技試験型案件獲得サービスengineedは、実務に近しい試験問題に回答することで自らの実力を試すことができ、またその結果をもとにクライアントとのスキルのすり合わせができる仕組みを提供することで、その課題の解消を図ります。
        br
        p 実技試験は、試験問題を解くというより、実際に与えられた実務に近いレベルの課題に対して、受験者にAWSアカウントが与えられ、環境構築をする形で行われるため、よりリアルな実力のすり合わせが可能となります。
        br
        p また、プロジェクトベースでの案件獲得が可能で、フリーランスや副業としてAWS案件を獲得したいエンジニアにとっては、絶好のアピール機会になります。
        br
        p エンジニアを求める企業にとっても、実際に実技試験で構築された環境を参照しながら、エンジニアのスキルレベルを確認できるため、アサイン後のスキルミスマッチの可能性を低減させることができます。
        br
        p 株式会社アンチパターンの代表取締役小笹は、「このサービスにより実力のあるAWSエンジニアとそれを求める企業のマッチングを加速させ、社会全体でクラウドの活用がより一層促進され、それによる生産性の向上が図れればと考えています」と期待を述べています。
        br
        p プレビュー版への事前登録は専用サイトから可能です。
        p ※実技試験作成後、事前登録者の方々へその旨通知をいたします。
        p プレビュー版のため実技試験部分のみの提供を予定しています。また想定より事前登録申込が多い場合には制限をかける可能性があります。お早めにご登録ください。
      .news_content_section.news_content_section02
        h5 リンク
        p ◆専用サイト
         br
         a(href="https://info.engineed.io/engineer/" target="_blank") https://info.engineed.io/engineer/
         br
        p ◆AWS認定資格とは？
         br
         a(href="https://aws.amazon.com/jp/certification/", target="_blank") https://aws.amazon.com/jp/certification/  
      include ../../_includes/_share_on.pug
