extends ../../_includes/_layout.pug

append variables
  //- Required
  - var pageID = "news/release-engineed-public-beta-ver";
  - var pageTitle = "​AWSエンジニアを採用できるサービスengineedのPublic Beta版をリリースしました";
  - var pageDescription = "Amazon Web Services(以下AWS)のスキルを持っているエンジニアを採用できるプラットフォームengineedのサービス利用登録の受付を開始しました。";
  //- Optional
  - var pageOgpImage = "/img/news/release-engineed-public-beta-ver-01.png";
  - var pageOgpType = "article";

block styles
  link(rel="stylesheet" type="text/css" href="../../../css/pages/detail_news.min.css")

block content
  section.keyvisual.top_keyvisual
    p
      span.key_title_main NEWS
      |
      span.key_title_sub お知らせ
  .news_content_container
    .news_content_case
      .day 
        time(datetime="2021-02-10") 2021.02.10
      h3.news_title ​AWSエンジニアを採用できるサービスengineedのPublic Beta版をリリースしました
      include ../../_includes/_share_on.pug
      img(src="/img/news/release-engineed-public-beta-ver-01.png", alt="engineedの写真")
      .news_content_section
        p 「日本のソフトウェアエンジニアを憧れの職業へ」を理念に掲げる株式会社アンチパターンが、Amazon Web Services(以下AWS)のスキルを持っているエンジニアを採用できるプラットフォームengineedのサービス利用登録の受付を開始しました。
        br
        p 日本国内においても、クラウドサービスの活用は年々加速しております。ガートナーの調査によると、「これからのデジタル時代、また大きな変化の時代をサバイブするためにクラウドのスキル獲得への投資が必要」と答えた企業が74%との結果が出ております。
        br
        p 一方で、そのうち、「スキル獲得の活動は現場任せになってしまっている」と答えた企業が49%となっており、クラウド人材の確保に向けては、まだまだ課題が多い状況です。
        p ( 2020年5月：ガートナー https://www.gartner.com/jp/newsroom/press-releases/pr-20200514 )
        br
        p クラウド提供トップベンダーのAWS自身も、「AWS Academy」や「AWS Educate」といった学生の時代からAWSを学べるコンテンツ提供を開始するなど、クラウド人材をどのように確保するかは、日本のIT業界全体における大きな課題となっております。
        br
        p engineedでは、この課題を解決し、「優秀なAWSエンジニアを適切にマッチングさせる」を目的としてサービス提供を開始します。
        br
        p 「適切なスキルを持ったエンジニアを探すのが難しい」、「AWSエンジニアのスキルをしっかり見抜けない」という多くの企業が抱えるこれらの課題を解決するために、我々は3つの特徴を備えたサービス設計を行いました。
      .news_content_section
        img(src="/img/news/release-engineed-public-beta-ver-02.jpg", alt="engineedの写真")
        h4 engineedの特徴
        p
          ol
            li AWS公式認定資格を有するエンジニアのみを集客
            li 副業を含めた多様な契約形態
            li 独自のスキルテストを実施
        p これらの特徴から、
        p フルタイムでAWSエンジニアを採用するのは難しいが、まずは、副業で支援を開始してもらう。スキルテストの結果も参考にすることで、アサイン後のスキルアンマッチが減る。副業で、スキルマッチが十分に確認出来た後に、正社員採用への切り替えができる。
        p ということを実現していきます。
        br
        p 弊社の調査によると、AWSエンジニア側もまた課題を抱えており、せっかくAWS公式認定資格を取得したのに、資格保有という情報だけでは評価されず、実力を証明するために何かしら追加で実力を示す方法を探す必要があるのです。
        br
        p AWSエンジニアを採用したい企業側と、AWS認定資格者としてスキルを実務に活かしたいというエンジニアを相互にマッチングするのがengineedの提供価値です。
        br
        p 株式会社アンチパターンの代表取締役小笹は、「このサービスにより実力のあるAWSエンジニアとそれを求める企業のマッチングを加速させ、社会全体でクラウドの活用がより一層促進され、それによる生産性の向上が図れればと考えています」と期待を述べています。
        br
        p AWSエンジニアの採用を進める企業様に向けて、利用登録やお問い合わせについてはこちらの専用サイトから可能です。
        br
        p Public Beta版リリース当初、まずは、有資格者との企業のマッチング機能のみを提供しますが、実技試験についても順次リリース予定となります。
        br
        h5 リンク
        p ◆専用サイト
         br
         a(href="https://info.engineed.io/engineer/" target="_blank") https://info.engineed.io/engineer/
      include ../../_includes/_share_on.pug
