
@import "../variables";
@import "../mixins";
.wrapper {
    max-width: 1198px;
    margin: 0 auto;
    padding: 0 60px;
}
.keyvisual {
    box-sizing: content-box;
    position: relative;
    padding: 224px 24px 217px 24px;
    text-align: center;
    color: #00282e;
    background-color: transparent;
    background-image : url("/img/hero_img.png") ;
    background-size: cover;
    font-weight: bold;
    .key_title_sub {
        font-size: 34px;
        line-height: 18px;
        letter-spacing: 0px;
        display: block;
    }
    .key_title_main {
        font-size: 60px;
        line-height: 50px;
        margin-top:28px;
        letter-spacing: 0px;
        display: block;
    }
}
.reduction {
    font-size: 8px;
    display: inline-block;
    margin-left: 10px;
}
@media (max-width:925px){
    .wrapper {
        padding: 0 20px;
    }
    .sp_br {
        display: block;
    }
    .keyvisual {
        .sp_br {
            margin-top: 14px;
        }
        box-sizing: content-box;
        position: relative;
        padding: 121px 24px 217px 24px;
        text-align: center;
        color: #00282e;
        background-color: transparent;
        background-image : url("/img/hero_img.png") ;
        background-size: cover;
        font-weight: bold;
        .key_title_sub {
            font-size: 24px;
            line-height: 18px;
        }
        .key_title_main {
            font-size: 50px;
            line-height: 50px;
            margin-top:14px;
        }
    }
}
.keyvisual {
  padding: 90px 0 87px;
  .key_title_main {
    font-family: $font-english;
    margin-bottom: 42px;
    font-size: 50px;
    font-weight: bold;
    margin-top: 9px;
  }
  .key_title_sub {
    font-size: 11px;
    line-height: 2px;
    letter-spacing: 0;
  }
}
.base-container {
  padding-bottom: 10px;
}
.legal_container {
  background-color: #f8f8f8;
  max-width: 1147px;
  margin: 68px auto 0px;
  padding: 0 20px;
}
.case {
  background-color: #fff;
  padding: 100px;
  padding-top: 91px;
  letter-spacing: -2.5;
  padding-bottom: 44px;
  .personal_data {
    padding-bottom: 95px;
    border-bottom: solid 4px #eeeeee;
    letter-spacing: 0;
    h3 {
      font-size: 34px;
      margin-bottom: 17px;
      letter-spacing: 0px;
    }
    .one_sec {
      margin-top: 40px;
      // margin-bottom: 62px;
      line-height: 10px;
    }
    .one_sec_01 {
      margin-top: 53px;
    }
    h4 {
      font-size: 15px;
      margin-bottom: 19px;
      letter-spacing: -0.3px;
    }
    p {
      font-size: 10px;
      line-height: 24px;
      letter-spacing: 0.79px;
    }
  }
  .privacy_data {
    padding-bottom: 56px;
    h3 {
      padding-top: 88px;
      font-size: 34px;
      margin-bottom: 17px;
      letter-spacing: 0;
    }
    .one_sec {
      margin-top: 40px;
      // margin-bottom: 62px;
      line-height: 10px;
    }
    .one_sec_01 {
      margin-top: 53px;
    }
    h4 {
      font-size: 15px;
      margin-bottom: 19px;
      letter-spacing: -0.3px;
    }
    p {
      font-size: 10px;
      line-height: 24px;
      letter-spacing: 0.79px;
    }
  }
}
@media (max-width:950px){
  .keyvisual {
    padding-top: 19px;
    padding-bottom: 63px;
    .key_title_main {
      font-size: 32px;
      margin-top: 14px;
      margin-bottom: 24px;
    }
    .key_title_sub {
      font-size: 13px;
      margin-top: 16px;
    }
  }
  .legal_container {
    background-color: #f8f8f8;
    max-width: 1147px;
    margin: 43px auto 0px;
    padding: 0 20px;
  }
  .case {
    background-color: #fff;
    padding: 20px;
    padding-top: 46px;
    padding-bottom: 44px;
    .personal_data {
      padding-bottom: 31px;
      border-bottom: 4px solid #eee;
      h3 {
        font-size: 24px;
        margin-bottom: 17px;
      }
      .one_sec {
        margin-top: 29px;
        margin-bottom: 34px;
      }
      h4 {
        font-size: 20px;
        margin-bottom: 9px;
        line-height: 28px;
        letter-spacing: -1px;
        margin-top: -1;
      }
      p {
        font-size: 13px;
      }
    }
    .privacy_data {
      padding-bottom: 4px;
      h3 {
        padding-top: 63px;
        font-size: 24px;
        margin-bottom: 17px;
      }
      .one_sec {
        margin-top: 29px;
        margin-bottom: 34px;
      }
      h4 {
        font-size: 20px;
        margin-bottom: 9px;
        line-height: 28px;
        letter-spacing: -1px;
        margin-top: -1;
      }
      p {
        font-size: 13px;
      }
    }
  }
  .base-container {
    padding-bottom: 87px;
  }
}

.wrapper {
  background-color: #F8F8F8;
  max-width: 930px;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 206px;
  // margin-bottom: 48px;
}
.base-container {
  background:  #fff;
  .company_keyvisual {
    background-color: #EEEEEE;
    color: #00282E;
    h2 {
      font-size: 50px;
      margin-bottom: 42px;
    }
    p {
      font-size: 11px;
      margin-top: -10px;
    }
  }
  .title_memver {
    font-family: $font-english;
    letter-spacing: 0;
    margin-top: -32px;
    text-align: center;
    color: #4fabba;
    font-size: 24px;
    margin-bottom: 46px;
  }
}
.keyvisual {
  background-color: #F8F8F8;
}
.section {
  padding-top: 122px;
  margin: 0 auto;
  max-width: 800px;
  h3 {
    font-family: $font-english;
    color: #4fabba;
    font-size: 24px;
  }
  p {
    margin-top: 27px;
    font-size: 18px;
    line-height: 44px;
    color: #00282E;
    letter-spacing: -3.7px;
  }
}
.outline_table {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.outline_table_item {
  font-size: 13px;
  color: #00282E;
  width: 440px;
  border-top: solid 2px #eeeeee;
  border-bottom: solid 2px #eeeeee;
  padding-top: 40px;
  padding-bottom: 39px;
  .mini_info {
    display: inline-block;
    margin-left: 11px;
    letter-spacing: 0.2px;
  }
  .mini_title {
    // margin-top: 17px;
    padding-left: 24px;
    width: 100px;
    display: inline-block;
  } 
}
.outline_table01 {
  width: 46%;
}
.outline_table02 {
  width: 46%;
  .outline_table_item {
    margin-right: -15px;
  }
}
.title_outline {
  font-family: $font-english;
  margin-top: -22px;
  letter-spacing: 0;
  color: #4fabba;
  font-size: 24px;
  text-align: center;
  margin-bottom: 57px;
}
@media (max-width:950px){
  .base-container {
    .keyvisual {
      padding-top: 4px;
      padding-bottom: 35px;
    }
    .company_keyvisual {
      .key_title_main {
        font-size: 32px;
      }
      .key_title_sub {
        font-size: 13px;
        // margin-top: -29px;
      }
      .sp_br {
        margin-top: -4px;
      }
    }
    .title_memver {
      margin-top: 2px;
      margin-bottom: 30px;
    }
  }
  .outline_table {
    display: block;
    
  }
  .outline_table01 {
    width: 100%;
  }
  .outline_table02 {
    width: 100%;
  }
  .outline_table_item {
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
  .section {
    max-width: 295px;
    padding-top: 85px;
    p {
      font-size: 14px;
      letter-spacing: 0;
      line-height: 32px;
      margin-top: 19px;
    }
  }
  .first_what {
    letter-spacing: -0.2px;
  }
  .section_why {
    padding-top: 99px;
    p {
      letter-spacing: 0.77px;
    }
  }
  .section_how {
    padding-top: 97px;
  }
  .wrapper {
    padding-bottom: 119px;
  }
  .outline_table_item {
    font-size: 13px;
    color: #00282E;
    width: 440px;
    border-top: solid 2px #eeeeee;
    border-bottom: solid 2px #eeeeee;
    padding-top: 40px;
    padding-bottom: 39px;
    .mini_info {
      margin-left: 11px;
      letter-spacing: 0.2px;
    }
    .mini_title {
      // margin-top: 17px;
      padding-left: 44px;
      width: 138px;
      display: inline-block;
    } 
  }
  .outline_table02 {
    .outline_table_item {
      margin-right: auto;
    }
  }
}
.wrapper {
  margin-top: 105px;
  background-color: #fff;
  padding: 0;
  max-width: 1100px;
}
.keyvisual {
  padding: 90px 0 85px;
  background-image: none;
  .key_title_main {
    margin-bottom: 24px;
    font-size: 50px;
    letter-spacing: 0;
    font-weight: bold;
    font-family: $font-english;
    line-height: 1.39;
  }
  .key_title_sub {
    font-size: 13px;
  }
}
.nav_num {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 160px;
  margin-left: 36px;
  .active {
    color: #4fabba;
  }
  .arrow {
    width: 34px;
    height: auto;
    margin-bottom: 4px;
    margin-left: 2px;
    margin-left: 12px;
    margin-right: -12px;
}
  a {
    font-family: $font-english;
    display: inline-block;
    padding: 0 12px;
    font-size: 24px;
    color: #999999;
  }
}
@media (max-width:950px){
  .keyvisual {
    padding: 90px 0 85px;
    background-image: none;
    .key_title_main {
      margin-bottom: 11px;
      font-size: 32px;
      letter-spacing: 0;
      font-weight: bold;
      font-family: $font-english;
      line-height: 1.39;
      margin-top: 18px;
    }
    .key_title_sub {
      font-size: 13px;
      margin-top: 0;
      letter-spacing: 1px;
    }
    .sp_br {
      margin-top: 1px;
    }
  }
  .base-container .keyvisual {
    padding-bottom: 40px;
  }
  .wrapper {
    margin-top: 60px;
  }
  .nav_num {
    margin-top: 11px;
  }
}

.news_content_container {
  background-color: #f8f8f8;
  max-width: 1100px;
  margin: 62px auto 0;
}
.news_content_case {
  padding: 40px 100px 36px;
  background-color: #fff;
  .day {
    color: #4fabba;
    margin-bottom: 14px;
    font-size: 10px;
  }
  h3 {
    padding-bottom: 35px;
    border-bottom: solid 4px #eeeeee;
    letter-spacing: 0;
  }
  img {
    width: 100%;
    margin-bottom: 49px;
  }
  p {
    font-size: 11px;
    line-height: 24px;
    margin-right: -3px;
    letter-spacing: 1.32;
  }
  .news_content_section {
    margin-bottom: 51px;
    h4 {
      font-size: 18px;
      line-height: 28px;
      color: #00282e;
      margin-block-start: 0;
      margin-block-end: 0;
      margin-bottom: 15px;
      letter-spacing: 1.55;
    }
    p {
      font-size: 14px;
      line-height: 24px;
      color: #333;
      margin-right: -3px;
      letter-spacing: 1.32;
    }
    br {
      display: block;
      content: "";
      padding-top: 16px;
    }
  }
}

.news_title {
  font-size: 34px;
  line-height: 50px;
  color: #00282e;
}
.keyvisual {
  padding-bottom: 91px;
  .key_title_main {
    margin-top: 0px;
    margin-bottom: 33px;
  }
  .key_title_sub {
    margin-top: 0px;
    letter-spacing: 1px;
  }
}
.base-container {
  padding-bottom: 10px;
}

@media (max-width:950px){
  .news_content_case {
    padding: 58px 26px 30px;
    background-color: #fff;
  }
  .share_on {
    height: 40px;
    padding: 0px;
  }
  .base-container {
    .keyvisual {
      padding-top: 22px;
      padding-bottom: 49px;
      .key_title_main {
        margin-bottom: 18px;
      }
    }
  }
  .news_content_container {
    margin: 0 auto 0;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .news_content_case {
    padding: 58px 15px 44px;
    .day {
      font-size: 12px;
      font-family: $font-english;
      letter-spacing: 1.2px;
      margin-bottom: 18px;
    }
    img {
      // height: 206px;
      margin-bottom: 21px;
    }
    p {
      font-size: 14px;
    }
    h3 {
      line-height: 36px;
      padding-bottom: 22px;
      font-size: 24px;
      border-bottom: 4px solid #eee;
      margin-bottom: 36px;
      letter-spacing: 0;
    }
    .news_content_section{
      margin-bottom: 18px;
      h4 {
        font-size: 18px;
        margin-right: -6px;
        letter-spacing: 1.56px;
        margin-bottom: 18px;
      }
      p {
        letter-spacing: 0.7;
        font-size: 13px;
      }
    }
    .news_content_section02 {
      margin-bottom: 25px;
    }
    p {
      letter-spacing: 2.1px;
    }
    .news_title {
      letter-spacing: 1.82;
    }
  }
  .base-container {
    padding-bottom: 0px;
  }
}
.keyvisual {
  background-color: #EEEEEE;
  padding: 90px 0 92px;
  background-image: none;
  .key_title_main {
    margin-bottom: 24px;
    font-size: 50px;
    letter-spacing: 0;
    font-weight: bold;
    font-family: $font-english;
    line-height: 1.39;
  }
  .key_title_sub {
    margin-top: 32px;
    font-size: 11px;
  }
}
.base-container {
  background-color: #F8F8F8;
  padding-bottom: 145px;
}
.nav_news::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: -7px;
  left: 50%;
  transform: translateX(-50%);
}
.news_content_case {
  padding-bottom: 105px;
  margin-left: 15px;
  margin-right: 15px;
  padding-top: 71px;
  .img {
    height: auto;
  }
  .news_content_section {
    margin-bottom: 43px;
    p {
      letter-spacing: 0.56;
    }
    h4 {
      letter-spacing: 0.58;
    }
  }
  .news_content_section02 {
    margin-top: 58px;
  }
}
.news_content_container {
  max-width: 1140px;
}

@media (max-width:950px){
  .news_content_container {
    margin: 34px auto 0;
  }
  .base-container {
    padding-bottom: 86px;
  }
  .news_content_case {
    padding: 23px 20px 75px;
    background-color: #fff;
    .news_content_section {
      margin-bottom: 21px;
      h4 {
        letter-spacing: 1.3px;
      }
      p {
        letter-spacing: 1.2;
      }
    }
    .news_content_section02 {
      margin-top: 0px;
    }
    .news_title {
      letter-spacing: 0;
    }
    h3 {
        padding-bottom: 22px;
        border-bottom: 4px solid #eee;
        margin-bottom: 35px;
    }
    img {
      margin-bottom: 20px;
      // height: 182px;
    }
  }
.base-container {
  .keyvisual {
    padding: 31px 0 71px;
    background-image: none;
    .key_title_main {
      margin-bottom: 27px;
      font-size: 32px;
      letter-spacing: 0;
      font-weight: bold;
      font-family: $font-english;
      line-height: 1.39;
      margin-top: 15px;
    }
    .key_title_sub {
      font-size: 13px;
      margin-top: 0;
      letter-spacing: 1px;
    }
  }
}
.news_content_case .news_content_section br {
  display: block;
  content: "";
  padding-top: 25px;
}
}