@import "../variables";
@import "../mixins";
.background {
    background: #f8f8f8;
    .wrapper {
        background: #f8f8f8;
        max-width: 1210px;
    }
}
.wrapper-wrapper {
    background: #fff;
}
.wrapper {
    max-width: 1198px;
    margin: 0 auto;
    padding: 0 60px;
}
.top_ourService {
  padding-top: 100px;
}
.keyvisual {
    box-sizing: content-box;
    position: relative;
    padding: 224px 24px 217px 24px;
    text-align: center;
    color: #00282e;
    background-color: transparent;
    background-image : url("/img/hero_img.png") ;
    background-size: cover;
    font-weight: bold;
    .key_title_sub {
        font-size: 34px;
        line-height: 18px;
        letter-spacing: 0px;
        display: block;
    }
    .key_title_main {
        font-size: 60px;
        line-height: 50px;
        margin-top:25px;
        letter-spacing: 0px;
        display: block;
    }
    img {
      width: 420px;
    }
}
.filter {
    background-color: rgba(0,0,0,0.2);
    background-position: 50% 50%;
    background-size: cover;
    text-align: center;
    color: #fff;
    padding-bottom: 40px;
    padding-top: 85px;
    padding-bottom: 118px;
    font-weight: bold;
    padding-right: 20px;
    padding-left: 20px;
    font-family: $font-english;
    h4 {
        margin-top: 24px;
        letter-spacing: 0px;
        margin-bottom: 15px;
    }
    p {
        letter-spacing: 0px;
        line-height: 29px;
    }
}
.bule {
    font-family: $font-english;
    color: #4FABBA;
}
.reduction {
    font-size: 8px;
    display: inline-block;
    margin-left: 10px;
}
.nav_service::after {
    display:none;
}
@media (max-width:925px){
    .wrapper {
        padding: 0 20px;
    }
    .sp_br {
        display: block;
    }
    .keyvisual {
        .sp_br {
            margin-top: 14px;
        }
        box-sizing: content-box;
        position: relative;
        padding: 121px 24px 217px 24px;
        text-align: center;
        color: #00282e;
        background-color: transparent;
        background-image : url("/img/hero_img.png") ;
        background-size: cover;
        font-weight: bold;
        .key_title_sub {
            font-size: 24px;
            line-height: 18px;
        }
        .key_title_main {
            font-size: 50px;
            line-height: 50px;
            margin-top:24px;
        }
        img {
          width: 300px;
        }
    }
    .filter {
        background-color: rgba(0,0,0,0.2);
        background-position: 50% 50%;
        background-size: cover;
        text-align: center;
        color: #fff;
        padding-bottom: 40px;
        padding-top: 79px;
        padding-bottom: 92px;
        font-weight: bold;
        padding-right: 36px;
        padding-left: 36px;
        h4 {
            margin-top: 24px;
            letter-spacing: 0px;
            margin-bottom: 15px;
            margin-left: 11px;
        }
        p {
            letter-spacing: 0px;
            line-height: 27px;
            font-size: 16px;

        }
    }
}

.wrapper {
  max-width: 1220px;
  background: #fff; 
  padding-bottom: 95px;
}z
.container_bg {
  padding-top: 134px;
  .pc_img {
    margin-bottom: 38px;
  }
}
.service_list {
  margin-bottom: 30px;
  letter-spacing: 0.6;
  padding: 0 60px;
  .title {
    margin-top: 60px;
    margin-bottom: 31px;
    font-size: 13px;
    text-align: center;
    letter-spacing: 1px;
  }
  .saasus_strengths_img_sizing {
    margin: 0 auto;
    width: 55%;
  }
  .service_strengths {
    width: 50%;
    display: inline-block;
    padding-left: 50px;
  }
}
.serviceList_h3 {
  margin-top: -12px;
}
.top_ourService {
  // padding-top: 320px;
  margin: 0 auto 0;
  .title {
    margin-bottom: 30px;
    font-size: 13px;
    margin-top: 10px;
    font-weight: bold;
  }
  img {
    width: 97%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 22px;
  }
  h3 {
    margin-bottom: 62px;
    margin-bottom: -11px;
  }
}
.service_img {
  img {
    width: 97%;
    height: auto;
    margin: 0 auto;
    margin-bottom: 22px;
  }
}
.service_text {
  p {
    font-size: 1.4rem;
    line-height: 24px;
    color: #333;
    margin-bottom: 12px;
    letter-spacing: 0.8px;
  }
  h4 {
    font-family: $font-english;
    font-weight: bold;
    font-size: 24px;
    color: #00282e;
    letter-spacing: 1px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 30px;
    margin-bottom: 14px;

    .reduction {
      font-size: 12px;
      margin-left: 15px;
      color: #00282e;

  }
  }
}
.service_text {
  max-width: 1200px;
  width: 100%;
  box-sizing: border-box;
  padding-left: 2px;
  margin-left: 20px;
  .under_var {
    display: inline-block;
    letter-spacing: 0.6px;
    color: #4fabba;
    position:relative;
    left: 0px;
    top: -2px;
    padding-right: 3px;
    padding-left: 3px;
    margin-left: -3px;
    font-family: $font-english-regular;
  }
  .under_var::after {
    content: "";
    display: block;
    width: 110px;
    height: 1px;
    background-color: #4fabba;
    position: absolute;
    bottom: 5px;
    left: 1px;
  }
  .site_link {
    img {
      margin-left: 4px;
      height: 9px;
      width: auto;
      margin-bottom: 2px;
    }
  }
    a {
      line-height: 42px;
    }
}
.service_visual {
  width: 100%;
}

.servicelist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}
.keyvisual {
  padding: 71px 0 83px;
  background-color: #eeeeee;
  background-image: none;
  .key_title_main {
    font-family: $font-english;
    font-size: 50px;
  }
  .key_title_sub {
    letter-spacing: 0;
    margin-top: 35px;
    font-size: 13px;
    letter-spacing: 1px;
  }
  .nav_service {
    border-bottom: solid 1px #00282E;
  }
}

.issue {
  text-align: center;
  font-size: 24px;
}

.tagline {
  text-align: center;
  font-size: 24px;
}

.plans {
  margin-bottom: 60px;
}

.plan-card {
  display: inline-block;
  width: 300px;
  background-color: #F8F8F8;
  border-radius: 10px;
  margin: 10px;
  height: 350px;
  h4 {
    margin-top: 15px;
    margin-bottom: 0px;
  }
  p {
    padding: 10px;
    margin: 0 auto;
  }
  table {
    width: 100%;
  }
}

.plan-price {
  margin: 0 auto;
  text-align: center;
  em {
    font-size: 32px;
    font-style: normal;
  }
}

.plan-note {
  margin: 0 auto;
  text-align: center;
  font-size: 12px;
  em {
    font-size: 32px;
    font-style: normal;
  }
}

.plan-detail {
  p {
    text-align: center;
  }
}

.inquiry {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.rounded-btn-saasus {
  background-color: #FF9B33;
}

.nav_service {
  position:relative;
}
.nav_service::after {
  content:"";
  display:block;
  width:62px;
  height:2px;
  background-color: #00282E;
  position:absolute;
  bottom: -8px;
  // left:-5px;
}
.sp_img {
  display: none;
  width: 100%;
}
.pc_img {
  display: block;
  width: 100%;
}
@media (max-width:1192px){
  .service_img, .service_test {
    width: 42%;
  }
}
@media (max-width:950px){
  .wrapper {
    padding-bottom: 66px;
  }
  .keyvisual {
    padding-top: 19px;
    padding-bottom: 63px;
    .key_title_main {
      font-size: 32px;
    }
    .key_title_sub {
      font-size: 13px;
      margin-top: 16px;
    }
  }
  .container_bg {
    padding-top: 27px;
  }
  .servicelist {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 63px;
  }
  .service_text_sp {
    display: block;
  }
  .pc_img {
    display: none;
  }
  .sp_img {
    display: block;
    width: 100%;
    text-align: center;
    height: auto;
  }
  .service_img {
    height: 50vw;
    width: 100%;
  }
  .service_text_pc {
    text-transform: uppercase;
  }
  .service_text {
    width: 100%;
    padding-left: 0px;
    margin-left: 0;
    h4 {
      margin-top: 21px;
    }
    p {
      margin-bottom: 14px;
    }
    .reduction {
      letter-spacing: 0.5px;
    }
    .under_var {
      left: 2px;
    }
  }
  .service_list {
    margin-bottom: 30px;
    letter-spacing: 0.6;
    padding: 0px;
    .title {
      margin-top: 49px;
      margin-bottom: 29px;
      font-size: 13px;
      text-align: center;
      letter-spacing: 1px;
      margin-left: 8px;
    }
    .service_strengths {
      width: 100%;
      padding: 0px;
    }
  }
  .issue {
    h4 {
      font-size: 18px;
    }
    br {
      display: none;
    }
  }
  .plan-card {
    height: auto;
  }
  .pt-10px{
    padding-top: 10px;
  }
}
