
@import "../variables";
@import "../mixins";

.nav_service::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: -7px;
  left: 50%;
  transform: translateX(-50%);
}
.wrapper-wrapper {
  background: #fff;
}
.top_ourService01 {
  font-family: $font-english;
  margin-bottom: 40px;
}
.container_bg {
  padding-top: 134px;
}
.reduction {
    font-size: 8px;
    display: inline-block;
    margin-left: 10px;
}
.community_support {
  margin-bottom: 99px;
  .matchting {
    margin-bottom: 66px;
    letter-spacing: 0.6;
  }
  .posse {
    margin-bottom: 60px;
  }
  .title {
    margin-top: 60px;
    margin-bottom: 31px;
    font-size: 13px;
    text-align: center;
    letter-spacing: 1px;
  }
  .skill_up {
    margin-bottom: 30px;
    font-size: 13px;
    margin-top: -2px;
    text-align: center;
    letter-spacing: 1px;
  }
}
.serviceList_h3 {
  margin-top: -12px;
}
.skill_up {
  margin-top: 10px;
  letter-spacing: 1px;
}
.service_text {
  p {
    font-size: 13px;
    line-height: 24px;
    color: #333;
    margin-bottom: 12px;
    letter-spacing: 0.8px;
  }
  h4 {
    font-family: $font-english;
    font-weight: bold;
    font-size: 24px;
    color: #00282e;
    letter-spacing: 1px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-top: 15px;
    margin-bottom: 14px;

    .reduction {
      font-size: 12px;
      margin-left: 15px;
      color: #00282e;

  }
  }
}
.service_text {
  max-width: 523px;
  width: 50%;
  box-sizing: border-box;
  padding-left: 2px;
  margin-left: 20px;
  .under_var {
    display: inline-block;
    letter-spacing: 0.6px;
    color: #4fabba;
    position:relative;
    left: 0px;
    top: -2px;
    padding-right: 3px;
    padding-left: 3px;
    margin-left: -3px;
    font-family: $font-english-regular;
  }
  .under_var::after {
    content: "";
    display: block;
    width: 110px;
    height: 1px;
    background-color: #4fabba;
    position: absolute;
    bottom: 5px;
    left: 1px;
  }
  .site_link {
    img {
      margin-left: 4px;
      height: 9px;
      width: auto;
      margin-bottom: 2px;
    }
  }
    a {
      line-height: 42px;
    }
}
.servicelist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}
.sp_img {
  display: none;
}
.pc_img {
  display: block;
}

@media (max-width:950px){
  .container_bg {
    padding-top: 27px;
  }
  .top_ourService01 {
    margin-bottom: 27px;
    margin-top: 48px;
  }
  .servicelist {
    flex-direction: column;
    justify-content: center;
    margin-bottom: 63px;
  }
  .service_text_sp {
    display: block;
  }
  .pc_img {
    display: none;
  }
  .top_ourService .sp_img {
    display: block;
    width: 100%;
    text-align: center;
    height: auto;
  }
  .service_text_pc {
    text-transform: uppercase;
  }
  .service_text {
    width: 100%;
    padding-left: 0px;
    margin-left: 0;
    h4 {
      margin-top: 21px;
    }
    p {
      margin-bottom: 14px;
    }
    .reduction {
      letter-spacing: 0.5px;
    }
    .under_var {
      left: 2px;
    }
  }
  .community_support {
    margin-bottom: 70px;
    .matchting {
      margin-bottom: 66px;
      letter-spacing: 0.6;
    }
    .posse {
      margin-bottom: 65px;
    }
    .title {
      margin-top: 49px;
      margin-bottom: 29px;
      font-size: 13px;
      text-align: center;
      letter-spacing: 1px;
      margin-left: 8px;
    }
    .skill_up {
      margin-bottom: 27px;
      font-size: 13px;
      margin-top: -2px;
      text-align: center;
      letter-spacing: 1px;
    }
  }
}
