extends ../../_includes/_layout.pug

append variables
  //- Required
  - var pageID = "news/regional-scrum-gathering-tokyo-2022";
  - var pageTitle = "「Regional Scrum Gathering℠ Tokyo 2022」に協賛し、代表 小笹が登壇します";
  - var pageDescription = "株式会社アンチパターンは「Regional Scrum Gathering℠ Tokyo 2022」にシルバースポンサーとして協賛し、代表の小笹がセッションを担当いたします。";
  //- Optional
  - var pageOgpImage = site.ogpImage;
  - var pageOgpType = "article";

block styles
  link(rel="stylesheet" type="text/css" href="../../../css/pages/detail_news.min.css")

block content
  section.keyvisual
    p
      span.key_title_main NEWS
      |
      span.key_title_sub お知らせ
  .news_content_container
    .news_content_case
      .day 
        time(datetime="2022-03-23") 2022.03.23
      h3.news_title 「Regional Scrum Gathering℠ Tokyo 2022」に協賛し、代表 小笹が登壇します
      include ../../_includes/_share_on.pug
      img(src="/img/og-image.jpg", alt="アンチパターンの理念について書いてある画像")
      .news_content_section
        h4 株式会社アンチパターンは「Regional Scrum Gathering℠ Tokyo 2022」にシルバースポンサーとして協賛し、代表の小笹がセッションを担当いたします。
        h4 ◆「Regional Scrum Gathering℠ Tokyo 2022」について
        p 一般社団法人スクラムギャザリング東京実行委員会のメンバーと有志からなるコミュニティ「スクラムギャザリング東京実行委員会」が、スクラムを実践する人が集い垣根を超えて語り合う場を提供するという目的のため運営しているイベントです。
        br
        p 当社は、シルバースポンサーとして協賛をしております。なお、本イベントのスポンサーセッションにて、弊社代表 小笹が「re:Scrumはじめました」という名目でセッションを担当いたします。
        br
        h5.text-info リンク
        p ◆専用サイト：
         a(href="https://2022.scrumgatheringtokyo.org/index.html" target="_blank") https://2022.scrumgatheringtokyo.org/index.html
      include ../../_includes/_share_on.pug
