extends ../../_includes/_layout.pug

append variables
  //- Required
  - var pageID = "posse";
  - var pageTitle = "ANTI-PATTERN HUB - POSSE";
  - var pageDescription = site.description;
  //- Optional
  - var pageOgpImage = site.ogpImage
  - var pageOgpType = "article";
  
block styles
  link(rel="stylesheet" type="text/css" href="../../css/pages/hub.min.css")


block content
  section.keyvisual
    p
      span.key_title_main ANTI-PATTERN  
        |
        span.sp_br HUB
      |
      span.key_title_sub POSSE
  .wrapper
    .cards
      .article-card
        a(href="/hub/posse-headed-by-a-20-year-old-female-college-student/")
          img(src="/img/hub/posse-interview1.jpg", alt="dummy").mb-2
        .d-flex.align-items-center.justify-content-between.mb-3
          time.day(datetime="2020-10-24") 2020.10.24
          .hub_tags
            a(href="/hub/stories").hub_tag_item #stories
            a(href="/hub/posse").hub_tag_item.ml-2 #posse
        a(href="/hub/posse-headed-by-a-20-year-old-female-college-student/")
          p 20歳の女子大生が代表を務める学生プログラミングコミュニティ「POSSE」
      //- .article-card
      //-   a(href="/hub/detail/")
      //-     img(src="/img/photo_dummy.png", alt="dummy")
      //-     span.day 2020.10.24
      //-     p テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入り…（60文字まで）
      //- .article-card
      //-   a(href="/hub/detail/")
      //-     img(src="/img/photo_dummy.png", alt="dummy")
      //-     span.day 2020.10.24
      //-     p テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入り…（60文字まで）
      //- .article-card
      //-   a(href="/hub/detail/")
      //-     img(src="/img/photo_dummy.png", alt="dummy")
      //-     span.day 2020.10.24
      //-     p テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入り…（60文字まで）
      //- .article-card
      //-   a(href="/hub/detail/")
      //-     img(src="/img/photo_dummy.png", alt="dummy")
      //-     span.day 2020.10.24
      //-     p テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入り…（60文字まで）
      //- .article-card
      //-   a(href="/hub/detail/")
      //-     img(src="/img/photo_dummy.png", alt="dummy")
      //-     span.day 2020.10.24
      //-     p テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入り…（60文字まで）
      //- .article-card
      //-   a(href="/hub/detail/")
      //-     img(src="/img/photo_dummy.png", alt="dummy")
      //-     span.day 2020.10.24
      //-     p テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入り…（60文字まで）
      //- .article-card
      //-   a(href="/hub/detail/")
      //-     img(src="/img/photo_dummy.png", alt="dummy")
      //-     span.day 2020.10.24
      //-     p テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入り…（60文字まで）
      //- .article-card
      //-   a(href="/hub/detail/")
      //-     img(src="/img/photo_dummy.png", alt="dummy")
      //-     span.day 2020.10.24
      //-     p テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入り…（60文字まで）
      //- .article-card
      //-   a(href="/hub/detail/")
      //-     img(src="/img/photo_dummy.png", alt="dummy")
      //-     span.day 2020.10.24
      //-     p テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入り…（60文字まで）
      //- .article-card
      //-   a(href="/hub/detail/")
      //-     img(src="/img/photo_dummy.png", alt="dummy")
      //-     span.day 2020.10.24
      //-     p テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入り…（60文字まで）
      //- .article-card
        a(href="/hub/detail/")
          img(src="/img/photo_dummy.png", alt="dummy")
          span.day 2020.10.24
          p テキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入りますテキストが入り…（60文字まで）
          //- 今の並べ方だと、最後のカードの行が二枚の場合かっこ悪い表示になる
    //- .nav_num
    //-   a(href="#").active 1
    //-   a(href="#") 2
    //-   a(href="#") 3
    //-   img(src="/img/arrow_brack.svg", alt="arrow", class="arrow")
    //-   span.arrow
