footer.footer
  a(href="#top").arrow.footer_jump
  div.footer__inner
      div.footer_1
        div.engineer_blog 
          a(href="https://tech.anti-pattern.co.jp/",target="_blank")
            span.engineer_blog_text エンジニアブログ
            span.engineer_blog_icon
              img(src="../../img/blog-link-icon.png", alt="エンジニアブログ")
        div.footer_sns_icons
          a(href="https://www.facebook.com/Anti-Pattern-Inc-405308950323951",target="_blank")
            span.footer_sns_icon_item
              span.footer_sns_logo
                img(src="../../img/fb-w.png", alt="Facebook")
              span.footer_sns_name Facebook
          a(href="https://twitter.com/antipatterninc",target="_blank")
            span.footer_sns_icon_item
              span.footer_sns_logo
                img(src="../../img/tw-w.png", alt="Twitter")
              span.footer_sns_name Twitter
          a(href="https://www.linkedin.com/company/anti-pattern/",target="_blank")
            span.footer_sns_icon_item
              span.footer_sns_logo.linkedin_logo
                img(src="../../img/li-w.png", alt="LinkedIn")
              span.footer_sns_name LinkedIn
      div.footer_2
        div.footer_navs
          span.footer_nav.legal_page_only
            a(href="/legal/") プライバシーポリシー
        small.copyright © 2021 Anti-Pattern Inc.
