extends ../../_includes/_layout.pug

append variables
  //- Required
  - var pageID = "news/engineed-accepting-applications-for-exam-of-ecs";
  - var pageTitle = "engineed、AWSエンジニア向けの新規実技試験を公開！";
  - var pageDescription = "engineedで、「コンテナ」を活用する実技試験を公開いたしました。";
  //- Optional
  - var pageOgpImage = site.ogpImage;
  - var pageOgpType = "article";

block styles
  link(rel="stylesheet" type="text/css" href="../../../css/pages/detail_news.min.css")

block content
  section.keyvisual.top_keyvisual
    p
      span.key_title_main NEWS
      |
      span.key_title_sub お知らせ
  .news_content_container
    .news_content_case
      .day 
        time(datetime="2021-07-08") 2021.07.08
      h3.news_title engineed、AWSエンジニア向けの新規実技試験を公開！
      include ../../_includes/_share_on.pug
      img(src="/img/og-image.jpg", alt="アンチパターンの理念について書いてある画像")
      .news_content_section
        h4 「engineed」にて、2021年7月8日より新規実技試験を公開しました。
        p 当社が運営する、エンジニアのマッチングプラットフォーム「engineed」では、これまでAmazon Web Services（以下AWS）を活用した「オンプレミスからのクラウドへの移行」を題材にした仮想サーバをベースにした実技試験を提供してまいりました。一方で、AWSは役割と専門分野ごとに全11種類もの認定試験を用意しており（2021年7月現在）、多岐にわたるAWSエンジニアのスキルをさらに可視化するためには、engineedが提供する実技試験を拡充する必要がありました。
        br
        p そこで今回、
          b 「コンテナ」を活用する実技試験をengineedにて公開いたします。
          | 新たな分野の実技試験を公開することで、新規ユーザー層の獲得や、現在登録中のユーザーに対して新たな学習機会を提供し、より多くの情報をプラットフォームにご提供いただけることを見込んでおります。
        br
        p 「engineedを提供させていただく中で、多くのユーザー並びに採用企業担当者の方々と対話を重ねてまいりました。その中で、特に強く試験問題として提供を望まれたのがコンテナを扱う試験でした。我々としても、コンテナを扱うことのできるスキルはクラウドネイティブなモダンなアーキテクチャ設計に必要な基礎的なスキルがあると考えており、engineedの新規実技試験として提供することを決定いたしました。」と代表の小笹は語ります。
        br
        p 「今回、Amazon Elastic Container Service(以下ECS)の活用を前提とした実技試験、【AWS ECS Based Event Site Launch (Basic)】をリリースさせていただきます。是非ご自身のスキルを測りつつ、より良いスカウトが届くようにこの新たな試験問題にチャレンジしてみてください。」
      .news_content_section
        h4 ◆AWS ECS Based Event Site Launch (Basic)概要
        p - 利用者が自由にイベント登録出来るサービスのリリースに向けて、AWS上に環境を構築していただきます。その際、新規サービスのためインフラ費用は抑えつつ、アクセスの集中に耐えられる構成にしたいという要望があり、また、新規機能を積極的に開発していく予定のため、Gitリポジトリとの連携によるデプロイの自動化も行う必要があります。要望に応える最適なアーキテクチャの設計と、その設計に沿った実際の構築をしてください。
        br
        h4 試験による効果
        p この試験により、ECSをベースに、AWSの基本サービスを活用したアーキテクティング能力が測れます。
        br
        h4 今後について
        p engineedでは、AWSのスキルを持ったエンジニアの活躍の場を広げるべく、今後も実技試験の種類の拡充や、サイトの機能追加、UI/UXの改善などを進めてまいります。
        p ※実技試験のお申し込みを弊社想定以上にいただいた場合、受験時期を調整させていただく場合がございます。
        br
        h5 リンク
        p ◆専用サイト
         a(href="https://info.engineed.io/engineer/" target="_blank") https://info.engineed.io/engineer/
      include ../../_includes/_share_on.pug
