extends ../../_includes/_layout.pug

append variables
  //- Required
  - var pageID = "news/announcement-of-seed-round-financing";
  - var pageTitle = "シードラウンドにて9,200万円の資金調達を実施しました。";
  - var pageDescription = "株式会社アンチパターンは、シードラウンドにてエンジェル投資家等から総額9,200万円の資金調達を実施いたしました。";
  //- Optional
  - var pageOgpImage = "/img/release-saasus-consulting.png";
  - var pageOgpType = "article";

block styles
  link(rel="stylesheet" type="text/css" href="../../../css/pages/detail_news.min.css")

block content
  section.keyvisual
    p
      span.key_title_main NEWS
      |
      span.key_title_sub お知らせ
  .news_content_container
    .news_content_case
      .day
        time(datetime="2022-04-05") 2022.04.05
      h3.news_title シードラウンドにて9,200万円の資金調達を実施
      include ../../_includes/_share_on.pug
      img(src="/img/announcement-of-seed-round-financing.png", alt="シードラウンド調達の画像")
      .news_content_section
        h4 ◆資金調達の背景と目的
        p 新型コロナウイルス感染症の影響もあり、近年ビジネスにおけるデジタル活用の潮流が加速しており、国内においてもデジタルトランスフォーメーション（以下 DX）に着目する企業が増えています。
        br
        | DXを行う上で私たちが注目しているのが「BtoBにおけるSaaSの活用」です。
        | SaaSはベストプラクティスの集合であり、業務に合わせてシステムを作るのではなく、SaaSに合わせて業務を変えるというパラダイムシフトを生み出せるポテンシャルを持っています。
        br
        | しかし、SaaSはユーザーの負担が小さく得られる価値が大きい反面、 SaaS提供事業者がSaaSを開発/運用することの難易度が高いという側面があります。SaaS提供事業者がSaaSの開発/運用を行う中で、試行錯誤を繰り返し、苦心している様子をこれまでの事業活動を通じて見てまいりました。それに対し、私たちが培ってきたSaaS開発のナレッジを駆使することで、この状況を解決できると確信しております。
        br
        | たとえばSaaSでは、認証・認可、料金プランの設定、利用量の計測、サブスクリプション型の請求、ユーザーの利用状況の分析、SaaS同士の連携・インテグレーションなど共通の課題があり、さらにこれらを複数の顧客でいかに共有するかをセキュリティ面と性能面の両軸を考慮して開発/運用を行うことになります。こういったSaaS共通の部分は開発/運用難易度が高い一方で、顧客への価値を直接生みません。そのため、省力化しコアバリューの部分に工数を集中することが望まれます。加えて、事業のステージが進んでいくにつれて課題が浮き彫りになる部分でもあり、事業初期の段階では課題に気が付きにくいのも現状です。
        br
        | そこで今回調達した資金を用いて、当社が理念に掲げる「日本のソフトウェアエンジニアを憧れの職業へ」を実現すべく、SaaS開発支援のためのSaaS開発をさらにブラッシュアップしてまいります。なお、すでに複数社への導入も決まっております。
      .news_content_section
        h4 ◆投資家からのコメント
        h5 株式会社スマートラウンド 代表取締役社長 砂川大 氏
        p 「SaaS化が加速する中、アンチパターン社はSaaS開発/運用を容易にするプラットフォームを自社メンバーの経験に基づき構築しようとしており、とても可能性を感じました。これが実現すればアンチパターン社が理念として掲げる『日本のソフトウェアエンジニアを憧れの職業へ』に一歩近づくと考えています。」
      .news_content_section
        h4 ◆代表取締役 小笹佑京のコメント
        p 私たちはソフトウェアをビジネスの中心に据える企業の成長サイクルを3つのコンポーネントで捉えています。
        br
        h5 （1）プロダクト作り
        p ビジネスと開発、運用が一体となったBizDevOpsが実践されることにより、強固なプロダクト開発が可能になります。
        h5 （2）資金作り
        p プロダクトもしくはその構想があれば、企業価値がついたりプロダクトによる収益が生まれ資金作りを行ったりすることができます。
        h5 （3）組織作り
        p ソフトウェアに投資をするということは、多くの資金をヒトに投資することでもあります。その際、ソフトウェアエンジニアを中心に、組織作りを行っていく必要があります。
        br
        p これら3つのコンポーネントは密接に関連しあい、いずれかのコンポーネントが大きくなれば他のコンポーネントも大きくなるような関係性にあります。
         | 今回私たちが開発するSaaSは、主に「プロダクト作り」を支援し、その価値を最大化するものです。それによって、国内のソフトウェア企業の成長サイクルがこれまで以上に回るようになれば、より魅力的なソフトウェア企業が日本に生まれることになります。
        p そのことが当社のビジョンである「日本のソフトウェアエンジニアを憧れの職業へ」を実現する上で非常に重要な意味を持ちます。
        | 魅力的なソフトウェア企業が生まれることで、魅力的なプロダクト開発の現場が生まれますし、しっかりと社会に価値提供できれば、実力のある人にはそれに見合った報酬を届けることも可能になるはずです。
        p そんな世の中であれば、ソフトウェアエンジニアはメジャーリーガーのような職種として羨望の的になると信じています。
        p 今回の資金調達は私たちのビジョンの実現の一歩に繋がると考えています。
      include ../../_includes/_share_on.pug
