extends ../../_includes/_layout.pug

append variables
  //- Required
  - var pageID = "hub/posse-interview";
  - var pageTitle = "20歳の女子大生が代表を務める学生プログラミングコミュニティ「POSSE」";
  - var pageDescription = site.description;
  //- Optional
  - var pageOgpImage = site.ogpImage
  - var pageOgpType = "article";
  - var noindex = true;

block styles
  link(rel="stylesheet" type="text/css" href="../../../css/pages/detail_hub.min.css")

block content
  section.keyvisual
    p
      span.key_title_main ANTI-PATTERN 
        |
        span.sp_br HUB 
      |
      span.key_title_sub アンチパターン情報ポータルサイト
  .hub_container
    .hub_case
      .d-flex.align-items-center.justify-content-between.mb-3
        time.day(datetime="2020-10-24") 2020.10.24
        .hub_tags
          a(href="/hub/stories").hub_tag_item #stories
          a(href="/hub/posse").hub_tag_item.ml-2 #posse 
      h1.hub_title 20歳の女子大生が代表を務める学生プログラミングコミュニティ「POSSE」
      include ../../_includes/_share_on.pug
      .hub_section
        img(src="/img/hub/posse-interview1.jpg", alt="POSSE代表の写真").mb-4
        p アンチパターンのプログラミングコミュニティ「POSSE」に所属する学生インタビュー第一弾。ゲストとして登場するのは、POSSEの代表を務める大学1年生の林さんです。
        br
        p 
          | 日本のIT人材の需要は年々高まっていくとされている昨今。一方、2030年にIT人材が45万人不足(※)すると言われており、この国おけるIT人材不足は深刻な課題です。
          br
          | そのような背景もあり、将来のIT人材を育てるためにも、プログラミング教育が当たり前になる時代を迎えました。また、私たちの暮らしを便利で豊かにしてくれるIT技術への理解を深めることは、今後の社会を生き抜く上でも非常に有益です。
          br
          | 今回ご紹介するのが、当社が運営サポートを行う学生プログラミングコミュニティ「POSSE」。一般的な大学生向けのプログラミングスクールと「POSSE」は、一体何が違うのか。
          br
          | POSSEの代表を務める大学1年生の林さん（@chiyoko_posse）にインタビューしました。ぜひ、ご一読くださいませ。
      .hub_section
        h2.mb-4 POSSEは「プログラミング力」と「人格力」に注力したコミュニティ
        img(src="/img/hub/posse-interview2.jpg", alt="POSSEの活動の様子").mb-4
        p ―― はじめに、林さんの自己紹介をお願いします！
        br
        p 林さん：私は慶應義塾大学商学部の2年生で、POSSEには2020年6月から1期生として参加し、現在はPOSSEの代表を務めています。POSSEはアンチパターンをはじめとした企業からのスポンサーを受けながら学生を中心に運営されている団体です。
        br
        p ―― POSSEは学生プログラミングコミュニティということですが、ほかのプログラミングコミュニティとはどんな違いがあるのでしょうか？
        br
        p 林さん：「プログラミング力の向上」と「人格力の向上」の両方を目指しているところが違いかな、と思います。アンチパターンの皆さんのお話を聞くなかで、エンジニアというお仕事には、プログラミングスキルは必須中の必須ですが、同時にコミュニケーションスキルも大切なんだな、と思っています。なので、実際にPOSSEの活動自体も「助け合い、励まし合う」という方針でメンバー同士が信頼関係を築くことを重視しています。
      .hub_section
        h2.mb-4 学生だけでは経験ができなことを求めて、POSSE代表に就任
        img(src="/img/hub/posse-interview3.jpg", alt="POSSEの活動の様子").mb-4
        p ―― 林さんはPOSSEに入る以前からITに興味があったのでしょうか？
        br
        p 林さん：子供の頃からSF小説や映画が大好きだったのでITには興味がありましたし、高校生のときにWeb系の企業でインターンシップもしていました。そのときHTMLやCSSなどを中心にプログラミングも勉強していたのですが、独学だったのでなかなか自分を律することができず、いつの間にかやめてしまった経験があります（笑）。
        br
        br
        p ―― 大学に入学して、POSSEに参加することになった経緯を教えてください
        br
        p 林さん：前のインターン先を辞めることになったのをキッカケに、様々なインターン募集や企業の方々とお話させていただいていた時期がありました。私がアンチパターンという会社の存在を知ったのもちょうどこの時期です。
        br
        p 当時、アンチパターンでは「POSSE」の立ち上げのフェーズで、カリキュラム・コンテンツの企画を行っている段階でした。コンテンツ企画を行っている方は、学生2000人以上のキャリア相談を担当された経歴をお持ちの人事領域のプロフェッショナルの方で、その方とのご縁から「POSSE」の説明会を受けたのがきっかけです。
        br
        p 自分自身がコミュニティに参加しつつも、POSSEという事業をその方を中心に一緒に作っていけることは、学生だけではなかなか経験ができない事でもありますのでとても貴重な機会をいただいたと感じています。
      .hub_section
        h2.mb-4 参加率100％！オンラインで日々学習し、ハッカソンで集大成を発表
        img(src="/img/hub/posse-interview4.jpg", alt="POSSEのオンラインでの活動の様子").mb-4
        p ―― POSSEの具体的な活動内容について、概要を教えていただけますか？
        br
        p 林さん：活動内容は大きく分けて2つです。ひとつは、週1回開催するオンライン定例会の開催。POSSEメンバーが全員集まり、課題のフィードバックやワークショップ、講演会などを3時間かけて行います。
        br
        p もうひとつがオンライン勉強会で、これは週2回開催です。内容は2種類あり、同級生が3人1組になって3時間勉強する「横割り」と、先輩が勉強をサポートする2時間の「縦割り」の勉強会を1日ずつ実施しています。
        br
        p 累計すると、毎週8時間はPOSSEで活動を行うことになりますが、時間が決まっているのは、月曜19～22時に行われる定例会だけ。勉強会は、自分たちの好きな時間にこなします。時間と場所はある程度柔軟に開催していますので、どの活動もメンバーの参加率はほぼ100％です。
        img(src="/img/hub/posse-interview5.jpg", alt="POSSEのリアルイベントの様子").my-4
        p ―― リアルイベントも行っているそうですが、そちらはどのような内容ですか？
        br
        p 林さん：リアルイベントは月2回開催しています。内容はチームラボを見学したり、BBQをしたり、ボードゲーム会をしたり、タコパをしたり……。いわゆる「大学生らしい」内容になっています。
        br
        p いずれも自由参加ではあるのですが、オンラインだけではどうしてもメンバー同士の関係性を築くのが難しくなってしまうので、リアルイベントで仲を深めてもらうことも大切にしています。あとは、積み重ねてきた学習の集大成として5ヶ月に1回、2泊3日のハッカソンを行います。
        img(src="/img/hub/posse-interview6.jpg", alt="POSSEのハロウィンイベントの様子").my-4
        p ―― ハッカソン！本格的ですね。どんなことをするのでしょうか？
        br
        p 林さん：3人1組のチームで、短期集中の開発を行います。最終日の発表で各チームの技術やコミュニケーションなどの各種スキルを総合的に判断し、優勝チームを決めます。ハッカソンの一番の目的は「自分をアップデートする」というもの。楽しくワイワイやるというよりも、勝ちにこだわってストイックに取り組んでもらうイベントです。
        img(src="/img/hub/posse-interview7.jpg", alt="POSSEのハッカソンの様子").mt-4
      .hub_section
        h2.mb-4 企業のバックアップも受けながら、メンバーと一緒に思い切り思考を深められる
        p ―― POSSEにはどんな仲間が集まっていますか？
        br
        p 林さん：1期生に関しては、私の周りを中心にお声がけして参加者を募ったので慶應義塾の割合が多いですが、ほかにも早稲田や東京電機、立教、青学など複数の大学からの参加者がいます。男女比率は1：1程度で、全体の8割以上がプログラミング経験の無かったメンバーです。性格的にはとにかく「物事を深く考えること」が好きな人たちが集まっていて、そこがPOSSEの魅力にもなっていると感じます。
        br
        br
        p ――考えるのが好きな人が集まったのはたまたまですか？
        br
        p 林さん：いえ、どちらかというとそういう傾向の人を集めている側面があります。例えば、最初にPOSSEに入るかどうかを決めてもらう段階で、3時間のセッションを3回も行うんです。POSSEが大事にしている思想などもしっかり伝えて、共感してくれた人に参加してもらっているので、必然的にディスカッションをしたり深く考えたりするのが好きな人が多くなるのかなと思います。
        br
        br
        p ――では、林さんが思うPOSSEの魅力について改めて教えてください
        br
        p 林さん：企業（アンチパターン）がスポンサーとして支援してくれるので、学生だけでは得られない人脈を築けます。また、学習面についても確実に学生より高い視点からのアドバイスをもらえるところがすごく面白いです。
        br
        p POSSEが開催している講演会なんかにも、アンチパターンの経営陣やその方々の知り合いのエンジニアさんに来ていただいたりしていて。学生が主体となって運営はしているのですが、学生生活では出会えないような方々と頻繁にコラボレーションできるという点が、一般的な学生団体との大きな違いでもあります。
        img(src="/img/hub/posse-interview8.jpg", alt="POSSEの活動の様子").mt-4
      .hub_section
        h2 POSSEのメンバーが好きなことに挑戦できる場を用意したい
        p ―― 林さんはPOSSEの代表として、どんなミッションを持って活動しているのでしょうか？
        br
        p 林さん：意識しているのは、POSSEのメンバーが成長できる機会や環境を用意するということです。何かに挑戦をしてみないと、なかなか自分の成長を感じたり、あるいは弱点を発見したりすることもできません。だから自分が「やりたい」と思ったことに挑戦する機会を用意して、その後に生まれた「もっとこうなりたい」という思いをサポートする環境を整えてあげたいなと思います。
        br
        br
        p ―― 成長機会や環境を整えるという部分で、これまで何か貢献できたことはありますか？
        br
        p 林さん：最初のハッカソンのときに、合宿スケジュールを作ったことでしょうか。私ともう1名のメンバーが、実際に企業で使われているスケジュールを叩き台にしました。これをある程度パッケージ化できたので、前回のハッカソンでは企画者を有志で募り、私は見守る側に回りました。結果的に3名が手を挙げてくれて、ハッカソンは大成功。しかも、最終日に「こういう取り組みに手を挙げてみるのは良いことだよ！」と自発的にスピーチまでしてくれました。その影響もあったのか、次に同じように有志を募る場面では応募者が殺到して……。かなり良い循環を作れたなと思います。
        img(src="/img/hub/posse-interview9.jpg", alt="POSSEの活動の様子").mt-4
      .hub_section
        h2.mb-4 長く深く付き合える、かけがえのない仲間づくりを強く意識
        p ――POSSEに入るとどんな体験ができるのでしょうか。POSSEを「いいな」と思っている方に向けて、ぜひ教えてください
        br
        p 林さん：まず、絶対に楽しいです（笑）！私が誘って今POSSEに入ってくれているメンバーも、私がSNSに載せたPOSSEでの活動の様子を見て、「楽しそうにプログラミングしているな」と思って来てくれた気がします（笑）。楽しさが生まれる背景には、POSSEがメンバー同士でかなり質の高いコミュニケーションをしているという点があるのかなと。実際、「大学の中だけでは得られない仲間に出会えた」と言ってくれる人も多いです。
        br
        br
        p ――それは一体、どんな仲間なのでしょう？
        br
        p 林さん：数は少なくても、家族のように長く、深く付き合える友人です。もちろん大学にもそういう人間関係を築ける場所はあるのだと思いますが、POSSEは最初から「生涯の仲間を作ること」を大切にしていると明言していますし、メンバー全員にもその意識があります。そのために自己開示をする雰囲気づくりや傾聴の姿勢を重んじているのも、POSSEの特徴です。
        img(src="/img/hub/posse-interview10.jpg", alt="チームとしてのPOSSE").my-4
        p ――人との関係の浅さや深さについて、普通に過ごしていたらなかなか考える機会が無いですよね。林さん自身がそれを意識するようになったのは、やはりPOSSEに入ってからですか？
        br
        p 林さん：もともと中学生のときから、「友達とは素の状態で、気を使わずに接することができたらいいな」という思いはなんとなくありました。例えば、自分がクラスの中で良いポジションを築くための友達を作って、思ってもいないことを言うような関係は、見ていても疲れてしまうというか……。
        br
        p 昔から「人との関係は、誠実さが大事だ」とぼんやり考えていたことが、POSSEでは明言化されていました。そして、実際に議論してみると、誰しもが長期的で深い関係を求めている。POSSEに入って、自分の考えは間違っていなかったんだなとはっきり感じました。
        img(src="/img/hub/posse-interview11.jpg", alt="POSSEがスカイテラスでくつろぐ様子").mt-4
      .hub_section
        h2.mb-4 大学生活において、安心感のある“みんなの居場所”になればうれしい
        p ―― 最後に、この記事の読者に向けてメッセージをお願いします！
        br
        p 林さん：はい。今後、POSSEの仲間になるかもしれない高校生や大学1年生の方に向けて私の言葉でメッセージを送ります。私は、POSSEを「メンバーにとっての居場所にしたい」と思っています。
        br
        p ただ、居場所といっても「そこにいるだけでいい」という場所ではありません。皆が主体性を持って何かに挑戦し、その挑戦を「いいね！」と言い合えるような、安心感のある場所にしたいです。
        br
        p 私自身のお話になりますが、私は高校生活の大半を部活に費やしてきました。3年間という限られた時間の中、部活動に時間を費やしてきたことは良かったと、心から思っています。しかし、いざ高校生活の終盤を迎えた時に、私は「部活動の他にもっとできることはなかったのかな？」「部活動以外に自分が夢中になれたことはあったかな？」「他の選択肢についてもちゃんと考えられていたのかな？」と感じたことを覚えています。
        br
        p 大学生活は高校生以上に、多くの選択肢から自分の日々の過ごし方を選べます。この記事でお伝えしたいことは、その選択肢の中のひとつに「POSSE」という存在があると嬉しい、「POSSE」が誰かの人生のコンパスを変えるきっかけになれたら良いなと考えているということです。
        br
        p 最後になりますが、今回記事を読んで少しでも興味をお持ちいただけましたら、ぜひお気軽にお声がけください。また、学生に限らず記事を読んでくださった社会人の皆さん、今後とも温かい目でPOSSEの活動を見守っていただけると嬉しいです。
      include ../../_includes/_share_on.pug
      .hub_tags.text-right
        a(href="/hub/stories").hub_tag_item #stories
        a(href="/hub/posse").hub_tag_item.ml-2 #posse 
