extends ../../_includes/_layout.pug

append variables
  //- Required
  - var pageID = "news/harbors-open";
  - var pageTitle = "エンジニア特化型コワーキング事業「HarborS」をリリース。第一弾として表参道拠点をオープン！";
  - var pageDescription = "2020年2月1日にエンジニア向けコワーキングスペース事業の第一弾として、「HarborS表参道」をオープンしました。「日本のソフトウェアエンジニアを憧れの職業へ」というミッションの下、今後は多拠点展開も見据えて、エンジニアのためのコミュニティ形成を進めてまいります。";
  //- Optional
  - var pageOgpImage = "/img/news/harbors-01.jpg";
  - var pageOgpType = "article";

block styles
  link(rel="stylesheet" type="text/css" href="../../../css/pages/detail_news.min.css")

block content
  section.keyvisual.top_keyvisual
    p
      span.key_title_main NEWS
      |
      span.key_title_sub お知らせ
  .news_content_container
    .news_content_case
      .day 
        time(datetime="2020-02-29") 2020.02.29
      h3.news_title エンジニア特化型コワーキング事業「HarborS」をリリース。第一弾として表参道拠点をオープン！
      include ../../_includes/_share_on.pug
      img(src="/img/news/harbors-01.jpg", alt="HarborSの写真")
      .news_content_section
        h4 株式会社アンチパターン（本社：東京都港区、代表取締役 小笹 佑京、以下当社）は、2020年2月1日にエンジニア向けコワーキングスペース事業の第一弾として、「HarborS表参道」をオープンしました。「日本のソフトウェアエンジニアを憧れの職業へ」というミッションの下、今後は多拠点展開も見据えて、エンジニアのためのコミュニティ形成を進めてまいります。
        p コワーキングスペース「HarborS」の公式ページ: 
          a(href="https://harbors.anti-pattern.co.jp/" target="_blank") https://harbors.anti-pattern.co.jp/
      .news_content_section
        img(src="/img/news/harbors-02.jpg", alt="HarborSの写真")
        h4 1.エンジニア特化型コワーキングスペースとは
        p 「日本のソフトウェアエンジニアを憧れの職業へ」のMission実現を下支えするコミュニティです。
          ul
            li ・学びの場所
            li ・修行の場所
            li ・癒しの場所
            li ・スターエンジニア輩出の場所
        br
        p これらを、全てのエンジニアに提供します。エンジニアの人生は荒波の中を航海する船のようなものである、と当社は捉えています。HarborSは、日本のソフトウェアエンジニアという多くの船の航海を全面的にバックアップするためにこの事業を立ち上げました。コワーキングスペース需要が高まる中、エンジニアに特化したコワーキングスペースはまだ珍しく、都内でも数少ない業態と言えます。
        br
        p HarborSの世界観は、1つの港では表現できません。世界観実現の為に、HarborSはあらゆる場所に、港を作り続けていきます。HarborS表参道をスタートに、今後の多拠点展開に期待して頂きたいです。
        br
        p Twitter公式アカウントでHarborSの想いを発信中：
          a(href="https://twitter.com/harbors_sh" target="_blank") https://twitter.com/harbors_sh
        br
      .news_content_section.news_content_section02
        img(src="/img/news/harbors-03.jpg", alt="HarborSの写真")
        h4 2.HarborSが描く世界とは？
        p HarborSは、エンジニアの航海を支える以下のようなサポートを提供しています。
        br
        h5 ・働き方の変革(場所)
        p テレワークが推進される中、多拠点展開により、働く場所の選択肢を増やすことで、エンジニアのリモートワーク促進を下支えします。また、リモートワークだけではなく、リゾートワークも推進することで、エンジニアの働き方の選択肢を多様化させます。
        h5 ・快適な環境
        p 高速WiFi、デュアルディスプレイ、コンセント、テラス、カフェラウンジ、仮眠室、多数の技術本等を揃えていくことで、エンジニアにとって快適な作業環境を目指します。
        h5 ・勉強会、交流会の開催
        p 今注目を集めているコミュニティの重要性にも着目し、エンジニア向けの勉強会や交流会にも力を入れています。フリーランスエンジニアが増え続けている昨今において、コミュニティをエンジニアに提供することも重要と考え、積極的に場づくりを行っています。
        h5 ・メンターサービス
        p 「HarborS for Beginners」や「HarborS for College Students」といった学習サポートサービスを取り揃えてます。エンジニアのキャリアにおける独学の大切さに着目し、それを支援するため、学習計画の策定や、日々の勉強の質問サポートを提供します。特に初学者は、独学で力を伸ばすことが難しいため、挫折しないように充足したサポート体制を用意しています。
        h5 ・キャリアカウンセリング
        p 昨今では、インターネットでエンジニアの発信が増えたことにより、情報の取捨選択を出来ない人も多くなってきているのが現状です。エンジニアを目指してはいるが、情報が多すぎて迷っている方に対して、キャリア相談を無料で提供しています。
        br
        p HarborSは、多拠点展開を進めることで、これらを地方を含めた日本中のエンジニアに提供していきます。共感頂ける企業様、スペース保有者様がいる場合は、積極的に協業していきたいと考えています。お気軽にお問合せください。
        br
        p 協業に関するお問い合わせ
        p HarborS事業責任者 信田健児(しのだけんじ)
        p 03-6885-6140
        p kenji.shinoda@anti-pattern.co.jp
      include ../../_includes/_share_on.pug
