extends ../_includes/_layout.pug

append variables
  //- Required
  - var pageID = "news";
  - var pageTitle = "ニュース";
  - var pageDescription = site.description;
  //- Optional
  - var pageOgpImage = site.ogpImage
  - var pageOgpType = "article";

block styles
  link(rel="stylesheet" type="text/css" href="../../css/pages/news.min.css")



block content
  section.keyvisual
    p
      span.key_title_main NEWS
      |
      span.key_title_sub お知らせ
  .news_container
    .news_contents
      a(href="/news/certified-as-aws-isv-partner/")
        .a_news
          time(datetime="2021-07-27") 2021.11.11
          br.sp_br
          p engineedがAWSファンデーショナルテクニカルレビューを通過しました
      a(href="/news/certified-as-aws-consulting-partner-select-tier/")
        .a_news
          time(datetime="2021-07-27") 2021.07.27
          br.sp_br
          p AWSコンサルティングパートナー・セレクトティアに認定されました
      a(href="/news/engineed-accepting-applications-for-exam-of-ecs/")
        .a_news
          time(datetime="2021-07-08") 2021.07.08
          br.sp_br
          p engineed、AWSエンジニア向けの新規実技試験を公開！
      a(href="/news/yagasaki-was-appointed-as-a-director/")
        .a_news
          time(datetime="2021-06-29") 2021.06.29
          br.sp_br
          p 当社の取締役CTO兼COOに矢ヶ崎哲宏が就任
      a(href="/news/engineed-accepting-applications-for-exam-of-ec2/")
        .a_news
          time(datetime="2021-03-01") 2021.03.01
          br.sp_br
          p AWS有資格者限定マッチングプラットフォームengineedが実技試験の申し込みを開始しました
      a(href="/news/release-engineed-public-beta-ver/")
        .a_news
          time(datetime="2021-02-10") 2021.02.10
          br.sp_br
          p AWSエンジニアを採用できるサービスengineedのPublic Beta版をリリースしました
      a(href="/news/release-posse/")
        .a_news
          time(datetime="2020-07-28") 2020.07.28
          br.sp_br
          p 大学生限定のプログラミング学習コミュニティ「POSSE」をスタート！
      a(href="/news/release-engineed-preview-ver/")
        .a_news
          time(datetime="2020-06-04") 2020.06.04
          br.sp_br
          p AWSエンジニア向け実技試験型案件獲得サービスengineedのプレビュー版事前登録開始
      a(href="/news/30daysbootcamp-on-harbors/")
        .a_news
          time(datetime="2020-03-31") 2020.03.31
          br.sp_br
          p エンジニアコミュニティ「HarborS」で、東京フリーランスが「30DAYSブートキャンプ」を開催！
      a(href="/news/harbors-open/")
        .a_news
          time(datetime="2020-02-29") 2020.02.29
          br.sp_br
          p エンジニア特化型コワーキング事業「HarborS」をリリース。第一弾として表参道拠点をオープン！

    //- .nav_num
    //-   a(href="#").active 1
    //-   a(href="#") 2
    //-   a(href="#") 3
    //-   img(src="/img/arrow_brack.svg", alt="arrow", class="arrow")
    //-   span.arrow
