extends ../../_includes/_layout.pug

append variables
  //- Required
  - var pageID = "hub/b-dash-camp-2022-sapporo";
  - var pageTitle = "「B Dash Camp 2022 Summer in Sapporo」のPitch Arenaに出場しました。";
  - var pageDescription = "株式会社アンチパターンは「B Dash Camp 2022 Summer in Sapporo」のPitch Arenaに出場し、惜しくも予選落ちとなりました。イベント参加の所感やピッチのスライドを共有します。";
  //- Optional
  - var pageOgpImage = site.rootUrl + "img/hub/b-dash-camp-2022-sapporo.jpg"
  - var pageOgpType = "article";

block styles
  link(rel="stylesheet" type="text/css" href="../../../css/pages/detail_hub.min.css")

block content
  section.keyvisual
    p
      span.key_title_main ANTI-PATTERN 
        |
        span.sp_br HUB 
      |
      span.key_title_sub アンチパターン情報ポータルサイト
  .hub_container
    .hub_case
      .d-flex.align-items-center.justify-content-between.mb-3
        time.day(datetime="2022-06-08") 2022.06.08
        .hub_tags
          a(href="/hub/stories").hub_tag_item #stories
      h1.hub_title 「B Dash Camp 2022 Summer in Sapporo」のPitch Arenaに出場しました。
      include ../../_includes/_share_on.pug
      .hub_section
        img(src="/img/hub/b-dash-camp-2022-sapporo.jpg", alt="B Dash Camp会場の写真").mb-5
        p 株式会社アンチパターンは2022年6月1日～3日の3日間に渡って開催された日本最大規模の招待制カンファレンス「B Dash Camp 2022 Summer in Sapporo」のPitch Arenaに出場しました。
        br
        p 
          | 150社以上の応募から選ばれた18社に残り、登壇の機会を得て、アンチパターン社としては初のピッチイベントへの参加となりました。
          br
          | 結果は、惜しくも予選落ちとなってしまいファイナルラウンドへは進出できなかったものの、イベントで使用したスライドを共有させていただきます。
          br
          | なお、参加 / 登壇をしたのはアンチパターン社の代表を務める小笹さん（
          a(href="https://twitter.com/yukiozasa" target="_blank").text-primary @yukiozasa
          | ）です。
      .hub_section
        h2.mb-4 B Dash Campとは
        p 「B Dash Camp」はインターネット業界の第一線で活躍する経営者や著名人が集結する日本最大規模の招待制カンファレンスです。これまで、多くの出会いを作り、新たなビジネスの機会を創出したイベントで、新たな学びとネットワーキングの場を提供しています。
          br
          |
          a(href="https://camp.bdashventures.com/" target="_blank").text-primary https://camp.bdashventures.com/
      .hub_section
        h2.mb-4 Pitth Arenaで実際に使用したスライドはこちら
        div.
          <script async class="speakerdeck-embed" data-id="9a31550553054da7a94977d87e4aced1" data-ratio="1.77725118483412" src="//speakerdeck.com/assets/embed.js"></script>
        br
        p ※サービスを紹介するサイトは
          a(href="https://www.saasus.io/" target="_blank").text-primary こちら
      .hub_section
        h2.mb-4 登壇を終えて
        p
          span.interviewee-name 小笹さん
          | 優勝を目指して準備をしてきたので、すごく悔しい気持ちです。しかし多くの方からポジティブなフィードバックをいただけて、改めて自分達の目指しているものの良さを実感することができました。
        br
        p 株式会社アンチパターンはこれからも「日本のソフトウェアエンジニアを憧れの職業へ」を理念に掲げ邁進してまいります。これからもどうぞよろしくお願いいたします。
      include ../../_includes/_share_on.pug
      .hub_tags.text-right
        a(href="/hub/stories").hub_tag_item #stories
