extends ../../_includes/_layout.pug

append variables
  //- Required
  - var pageID = "news/certified-as-aws-consulting-partner-select-tier";
  - var pageTitle = "AWSコンサルティングパートナー・セレクトティアに認定されました";
  - var pageDescription = "AWSコンサルティングパートナー・セレクトティアの認定を取得したことをお知らせします。";
  //- Optional
  - var pageOgpImage = site.ogpImage;
  - var pageOgpType = "article";

block styles
  link(rel="stylesheet" type="text/css" href="../../../css/pages/detail_news.min.css")
  style(type="text/css").
    .aws-partnernetwork-consluting-paetner-select-badge {
        width: 40%!important;
        margin-top: 30px!important;
        margin-bottom: 0px!important;
      }
    @media (max-width:950px){
      .aws-partnernetwork-consluting-paetner-select-badge {
        width: 201.89px!important;
        height: 189px;!important;
      }
    }

block content
  section.keyvisual.top_keyvisual
    p
      span.key_title_main NEWS
      |
      span.key_title_sub お知らせ
  .news_content_container
    .news_content_case
      .day 
        time(datetime="2021-07-27") 2021.07.27
      h3.news_title 株式会社アンチパターンがAWSコンサルティングパートナー・セレクトティアに認定されました
      include ../../_includes/_share_on.pug
      img(src="/img/og-image.jpg", alt="アンチパターンの理念について書いてある画像")
      .news_content_section
        h4 アマゾン ウェブ サービス（AWS）が提供するパートナープログラム「AWSパートナーネットワーク（APN）」におけるAWSコンサルティングパートナー・セレクトティアの認定を取得したことをお知らせします。
        p 当社は、AWSエンジニアのマッチングプラットフォーム「engineed」を運営しており、AWS認定を保有するエンジニア向けの実技試験の提供、企業とのマッチングサービスを提供しています。その上で、AWSコンサルティングパートナーの認定を取得したことは、ユーザーの皆様に安心・納得してプラットフォームをご利用いただくための一つの指標になると考えております。
        br
        p AWSエンジニア及び企業の皆様に高クオリティな試験・マッチングサービスを提供できるよう、今後も実技試験の種類の拡充や、サイトの機能追加、UI/UXの改善などを進めてまいります。
        br
        p またengineedだけでなく、当社が設立当初より掲げている理念「日本のソフトウェアエンジニアを憧れの職業へ」の実現に向け、新たなサービス開発や改善にも取り組んでまいりますので、是非ご期待ください。
        img.aws-partnernetwork-consluting-paetner-select-badge(src="/img/aws-partnernetwork-consluting-paetner-select-badge.jpg", alt="AWSコンサルティングパートナーセレクトティアの画像")
      .news_content_section.news_content_section02
        h4 ◆ AWSコンサルティングパートナーとは
        p アマゾン ウェブ サービス（以下AWS）が提供するAWSパートナープログラム（以下APN）においてパートナーとして認定された企業のことを指します。中でもセレクトティアパートナーは、あらゆる業種・規模のお客様に対し、AWS を活用したインフラストラクチャとアプリケーションの設計、開発、構築、移行、管理をサポートするプロフェッショナルサービス企業に与えられます。
      include ../../_includes/_share_on.pug
