extends ../../_includes/_layout.pug

append variables
  //- Required
  - var pageID = "news/release-saasus-consulting";
  - var pageTitle = "ソフトウェア開発内製化を支援しDXを推進する新サービス「SaaSus Consulting」をリリース";
  - var pageDescription = "株式会社アンチパターンは、ソフトウェア開発内製化を支援しDXを推進する新サービス「SaaSus Consulting」をリリースいたしました。";
  //- Optional
  - var pageOgpImage = "/img/release-saasus-consulting.png";
  - var pageOgpType = "article";

block styles
  link(rel="stylesheet" type="text/css" href="../../../css/pages/detail_news.min.css")

block content
  section.keyvisual
    p
      span.key_title_main NEWS
      |
      span.key_title_sub お知らせ
  .news_content_container
    .news_content_case
      .day
        time(datetime="2021-10-01") 2021.10.01
      h3.news_title ソフトウェア開発内製化を支援しDXを推進する新サービス「SaaSus Consulting」をリリース
      include ../../_includes/_share_on.pug
      img(src="/img/release-saasus-consulting.png", alt="SaaSus Consultingの写真")
      .news_content_section
        p テクノロジーは進化し続け、ソフトウェアの開発・改善・配布のスピードはかつてないほどに高速化しています。加えて、多くの企業がDXと呼ばれる、ビジネス改革に取り組んでいます。DXを進めるうえで多くのユーザー企業は、IT人材や技術力への投資を行うことでソフトウェア開発の内製化にも取り組みはじめています。
        br
        | 一方で、IT人材の確保や技術力の蓄積には時間もかかるため、
        b 内製化をスムーズに進められない
        | という課題を抱えるユーザー企業も少なくありません。これらの課題の解決に取り組むべく、当社は新たにユーザー企業の
        b ソフトウェア開発内製化を支援するサービス「SaaSus Consulting」
        | をリリースいたしました。
        br
        | ユーザー企業のソフトウェア開発の内製化の必要性を診断し、アクションプランの策定からプロトタイピング・開発・人材採用・運用までをトータルサポートいたします。
        br
        | さらに当社は、AWSが定める内製化支援推進 AWSパートナーに参画いたしました。企業が自らのITシステムの主導権を握り、内製化を目指すユーザー企業を支援いたします。
      .news_content_section
        h4 内製化支援サービス「SaaSus Consulting」について
        p 「SaaSus」は、ユーザー企業のソフトウェア開発の内製化の必要性を診断し、アクションプランの策定からプロトタイピング・開発・人材採用・運用までをトータルサポートいたします。
        br
        p.text-info ◆詳細は下記の専用ページをご参照ください
        | 
        a(href="https://anti-pattern.co.jp/services/saasus/" target="_self") https://anti-pattern.co.jp/services/saasus/
      include ../../_includes/_share_on.pug
