@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap');
@import "variables";
@import "mixins";
@import "base";
@import "parts/header";
@import "parts/footer";
@import "parts/share_on";

.wrapper {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 60px 95px;
  background: #fff;
}
.keyvisual {
  box-sizing: content-box;
  position: relative;
  color: #00282e;
  font-weight: bold;
  text-align: center;
  background-color: #eeeeee;
  padding: 71px 0 83px;
  .key_title_sub {
    font-size: 13px;
    line-height: 18px;
    letter-spacing: 1px;
    display: block;
    margin-top: 35px;
  }
  .key_title_main {
    font-family: $font-english;
    font-size: 50px;
    line-height: 50px;
    margin-top:25px;
    letter-spacing: 0px;
    display: block;
  }
}
.top_ourService {
  text-align: center;
  margin: 0 auto;
  padding-top: 136px;
  letter-spacing: 0px;
  .title {
    margin-bottom: 30px;
    font-size: 13px;
    margin-top: 10px;
    font-weight: bold;
  }
  h3 {
    font-family: $font-english;
    color: #4fabba;
    font-size: 24px;
    margin-bottom: -11px;
  }
  p {
    padding-top: 27px;
    font-weight: bold;
    font-size: 15px;
    margin-left: 13px;
    margin-top: -2px;
  }
  img{
    width: 97%;
    height: auto;
    margin: 0 auto 22px;
  }
  .arrow {
    width: 33px;
    height: auto;
    margin-bottom: -31px;
    margin-left: 3px;
  }
  .arrow_underbar {
    font-family: $font-english;
    color: #4fabba;
    position: relative;
    bottom: -33px;
    letter-spacing: -1px;
    font-size: 18px;
    margin-right: 3px;
  }
  .arrow_underbar::after {
    content: "";
    display: block;
    width: 161px;
    height: 1px;
    background-color: #4fabba;
    position: absolute;
    left: -5px;
  }
}
.bule {
  font-family: $font-english;
  color: #4FABBA;
}
.service_img {
  max-height: 275px;
  height: 22vw;
  max-width: 529.5px;
  width: 50%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 1px #E5E5E5;
  img {
    height: auto;
  }
  .harbors_img_sizing {
    max-width: 163px;
    width: 80%;
  }
  .posse_img_sizing {
    max-width: 199.5px;
    width: 80%;
  }
  .extends_img_sizing {
    max-width: 167px;
    width: 80%;
  }
  .enjineed_img_sizing {
    max-width: 245px;
    width: 80%;
  }
  .nitoro_img_sizing {
    max-width: 153.5px;
    width: 80%;
  }
  .saasus_img_sizing {
    max-width: 167px;
    width: 80%;
  }
  .gateway_img_sizing {
    max-width: 205.5px;
    width: 80%;
  }
}
@media (max-width:1192px) {
  .service_img, .service_test {
    width: 42%;
  }
}
@media screen and (max-width: 925px) {
  .wrapper {
    padding: 0 20px;
  }
  .keyvisual {
    padding: 121px 24px 217px 24px;
    .sp_br {
      margin-top: 14px;
    }
    .key_title_sub {
      font-size: 24px;
      line-height: 18px;
    }
    .key_title_main {
      font-size: 50px;
      line-height: 50px;
      margin-top: 24px;
    }
  }
  .sp_br {
    display: block;
  }
  .top_ourService {
    padding-top: 37px;
    .sp_br {
      margin-top: 1px;
    }
    h3 {
      margin-bottom: 0px;
    }
    p {
      padding-top: 21px;
      margin-left: 0px;
      letter-spacing: 0px;
    }
    img {
      height: 20px;
      width: auto;
    }
    .arrow {
      margin-left: 7px;
    }
    .arrow_underbar {
      margin-left: 6px;
      letter-spacing: 0px;
      margin-right: 0px;
    }
  }
}
@media screen and (max-width: 950px) {
  .wrapper {
    padding: 0 20px 66px;
  }
  .keyvisual {
    padding-top: 19px;
    padding-bottom: 63px;
    .key_title_main {
      font-size: 32px;
    }
    .key_title_sub {
      font-size: 13px;
      margin-top: 16px;
    }
  }
  .top_ourService {
    padding-top: 124px;
    h3 {
      margin-bottom: 0px;
      margin-left: 0px;
    }
    img {
      max-width: 335px;
      margin: 0 auto;
      width: 100%;
    }
  }
  .service_img {
    height: 46vw;
    max-width: 530.5px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #E5E5E5;
    img {
      height: auto;
    }
    .harbors_img_sizing {
      max-width: 115px;
      width: 80%;
    }
    .posse_img_sizing {
      max-width: 147.5px;
      width: 80%;
    }
    .extends_img_sizing {
      max-width: 130.5px;
      width: 80%;
    }
    .enjineed_img_sizing {
      max-width: 186px;
      width: 80%;
    }
    .nitoro_img_sizing {
      max-width: 119.5px;
      width: 80%;
    }
    .saasus_img_sizing {
      max-width: 130.5px;
      width: 80%;
    }
    .gateway_img_sizing {
      margin-top: -7px;
      font-size: 30px;
      font-weight: bold;
      letter-spacing: 4px;
    }
  }
}
